<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <env-entry>
       <env-entry-name>solr/home</env-entry-name>
       <env-entry-value>/home/admin/search_home/item_search</env-entry-value>
       <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
  
  <filter>
  	<filter-class>com.aifuyun.snow.search.SnowWorldSolrDispatchFilter</filter-class>
  	<filter-name>XSolrDispatchFilter</filter-name>
  </filter>
  
  <filter-mapping>
  	<filter-name>XSolrDispatchFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-class>com.aifuyun.search.servlet.IndexControlServlet</servlet-class>
  	<servlet-name>IndexServlet</servlet-name>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>IndexServlet</servlet-name>
  	<url-pattern>index</url-pattern>
  </servlet-mapping>
  
</web-app>
