<div id="cArea">
  <div class="hr_10"></div>
    
    $control.setTemplate('user/userCenterMenu.vm').addAttribute('snowUtil', $snowUtil)
    
    <div class="content">
    	<div class="content-inner">
            <div class="pwrap"><!--pwrap-->
            	<div class="phead attendcar-ico">
                	<h1>
                	#if ($rundata.queryString.getString('type') == "2")
                	我参加的拼车信息
                	#else
                	我创建的拼车信息
                	#end
                	</h1>
                </div>
                <div class="pbody">
                    #if ($!orders.empty )
                    	<p style="margin-left:10px;">
                    			#if ($rundata.queryString.getString('type') == "2")
	                        		我还没有参加任何拼车。
			                	#else
			                	  <span class="col_gray fl">
			                        	我还没有创建拼车。
			                        </span>
			                        <a href="$snowModule.setTarget('together/createOrder')" class="but_cjpc_h dis fl">创建拼车</a>
			                	#end
	                    </p>
	                #else
	                	#foreach($order in $orders)
		                	<ul>
		                        <h1 style="border-bottom:#ccc 1px dashed; height:25px;">
		                            <a href="$snowModule.setTarget('together/orderDetail').add('orderId', $order.id)" class="fl"><strong>从 $!{order.fromCity}$!{order.fromAddr} 拼车到  $!{order.arriveCity}$!{order.arriveAddr} </strong></a>
		                            <span class="create_time">$!dateUtil.formatFullDate($order.gmtCreate)</span>
		                        </h1>
		                        <div class="cl">
		                            <div class="fl col_gray">
                                    出发时间：$!dateUtil.formatFullDate($order.fromTime)
                                    </div>
		                            <div class="fl ml10 col_gray">
                                    预计到达时间：$!dateUtil.formatFullDate($order.arriveTime)
                                    </div>
		                            <div class="fl ml10 col_gray">
                                    参加人数/总座位数：0/4
                                    </div>
		                        </div>
		                        <div class="cl col_gray">
                                    状态：$!order.orderStatusEnum.name
		                            <a href="$snowModule.setTarget('together/orderDetail').add('orderId', $order.id)" class="text_drakgreen">
                                    	<strong>查看详情</strong>
		                            </a>
		                        </div>
		                    </ul>
	                	#end
                    #end
                    
                    $control.setTemplate('common/pagination.vm').add('query', $userOrderQuery).add('pageFacerName', 'myTogethersPageFacer')
                    
                </div>
            </div><!--pwrap end-->
            
    	</div>
    </div>
    
</div>
<div class="hr_6"></div>