<div id="cArea"><!--content-2 begin-->
	<div class="cbox">
	    <div class="regsuccess">恭喜，您已经完成注册，现在就可以登录体验我们的拼车服务。
	    	<a href="$snowModule.setTarget('login')">点击这里登录</a>
	    ##<button class="but_cjpc" onMouseDown="this.className='but_cjpc'" onmouseover="this.className='but_cjpc_h'" onmouseup="this.className='but_cjpc_h'"  onMouseOut="this.className='but_cjpc'"></button>
	    </div>
		<div class="hr_10"></div>
	</div>
</div><!--content-2 end-->