<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE beans PUBLIC
    "-//SPRING//DTD BEAN//EN"
     "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<import resource="beans/biz-ao.xml" />
	<import resource="beans/biz-bo.xml" />
	<import resource="beans/biz-dao.xml" />
	<import resource="beans/persistence.xml" />
	<import resource="beans/biz-config-services.xml" />
	<import resource="beans/jdbc-datasource.xml" />
	<import resource="beans/biz-mail.xml" />
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"></bean>
</beans>
