城市列表

#foreach($entry in $province2Cities.entrySet())
	#set($provice = $entry.key)
	#set($cities = $entry.value)
	<div>
		<div>$provice.name</div>
		<div>
		#foreach($city in $cities)
			<a href="$snowModule.setTarget('t').add('actionTarget', 'city/switchCityAction').add('actionEvent', 'switchCity').add('cityId', $city.id)">$city.name</a>
			
		#end
		</div>
	</div>
#end
