#set($form = $formFactory.createForm("together.createOrder"))

#macro(errorMessageCreateOrder, $str)
	#if( "$!str" != "")
		<p class="color_gray error-tip">
			$str
		</p>
	#end
#end

<div id="cArea"><!--content-2 begin-->
<div class="cbox">
	<div class="create_cutbread">
    	<div class="create_cb_car"></div>
        <div class="create_cb_info_g_y"></div>
        <div class="create_cb_suc_g"></div>
    </div>
    <Div style="height:1px; background:#ccc; width:100%; overflow:hidden"></Div>

	<div class="reg_l_box"><!--left begin-->

        <div class="reg_info">
        <form action="" method="post" id="J_create_order_form">
	        <input type="hidden" name="createOrder" value="$tokenUtil.token('createOrder')" />
			<input type="hidden" name="actionTarget" value="together/orderAction" />
			<input type="hidden" name="actionEvent" value="createOrder" />
			
	        <ul>
	        	<li>
                    <label><em>*</em> 发起人：</label>
                    <span class="fl color_gray">
                    <div class="reg_info_li_box">
                    	$!snowUtil.loginUsername
                    </div>
                    </span>
                </li>
                
                <li>
                    <label><em>*</em> 拼车类型：</label>
                    
                    #set($selectOrderType = $!form.fields.type.value)
                    #if (!$!selectOrderType || "$!selectOrderType" == "0")
                    	 #set($selectOrderType = $!selectedOrderType.value)
                    #end
                    
                    <div class="reg_info_li_box">
                     	#foreach($orderType in $orderTypes)
	                        <input class="order_type_selector" name="$!form.fields.type.name" type="radio" value="$!orderType.value" style="border:none"
	                         #if("$!selectOrderType" == "$!orderType.value") checked #end />$!orderType.name
                        #end
                        
                        #errorMessageCreateOrder($!form.fields.type.message)
                    </div>
                     
                </li>
               
               #set($showCreatorType = false)
               #if("$!selectOrderType" == "2") 
               		 #set($showCreatorType = true)
			   #end
			   
			   <div id="J_creator_type" #if(!$showCreatorType) style="display:none" #end >
	               ## 如果是拼的士，则不显示
	               <li 
	                	<label><em>*</em> 发起人身份：</label>
	                    <div class="reg_info_li_box">
	                        <input class="creator_car_owner_type_selector" name="$!form.fields.creatorCarOwnerType.name" type="radio" style="border:none" value="1" #if ("$!form.fields.creatorCarOwnerType.value" == "1") checked #end />我是车主
	                        <input class="creator_car_owner_type_selector" name="$!form.fields.creatorCarOwnerType.name" type="radio" style="border:none" value="2" #if ("$!form.fields.creatorCarOwnerType.value" == "2") checked #end />我是乘客
	                     #errorMessageCreateOrder($!form.fields.creatorCarOwnerType.message)
	                    </div>
	                </li>
	                
	                
	                #set($showCarNo = false)
	                #if ($showCreatorType && "$!form.fields.creatorCarOwnerType.value" == "1")
	                	 #set($showCarNo = true)
	                #end
	               
		        	<li id="J_car_no" #if(!$showCarNo) style="display:none" #end>
	                    <label><em>*</em> 车牌号：</label>
	                    <div class="reg_info_li_box">
	                    	<p>
                            	<input name="$!form.fields.carNo.name" type="text" class="input_95" value="$!form.fields.carNo.value" />
                            </p>
                            #errorMessageCreateOrder($!form.fields.carNo.message)
                            <p class="color_gray attention">
                                	填写此项可以确定您信息的真实性，更方便你找到理想车友。
                            </p>
	                   </div>
	                </li>
                </div>
	        	
	        	 <li>
		            <label for="inp_name"><em>*</em> 承载人数：</label>
		            <div class="reg_info_li_box">
		            	<p>
		            		<input class="input_95" type="text" id="$!form.fields.totalSeats.name" name="$!form.fields.totalSeats.name" value="$!form.fields.totalSeats.value"/>
		            	</p>
		            	#errorMessageCreateOrder($!form.fields.totalSeats.message)
		            	<p class="color_gray attention">
                                   	 承载人数已包含发起人。(人/辆)
                        </p>
		            </div>
	            </li>
	        	
	        	
	            <li>
		            <label for="inp_name"><em>*</em> 城市：</label>
		            <div class="reg_info_li_box">
			            <p>
			            	<input type="text" class="input_95" id="$!form.fields.fromCity.name" name="$!form.fields.fromCity.name" value="$!form.fields.fromCity.value" />
			           		<a href="$snowModule.setTarget('city/cityList').add('isSwitch','true').add('onId', 'cityId').add('onName', 'fromCity')" target="_blank">更换城市...</a>
			            </p>
			             #errorMessageCreateOrder($!form.fields.fromCity.message)
		            </div>
	            </li>
	            
	            <li>
		            <label for="inp_name"><em>*</em> 出发地：</label>
		            <div class="reg_info_li_box">
		            <p>
		           		<input class="input_400" type="text" id="$!form.fields.fromAddr.name" name="$!form.fields.fromAddr.name" value="$!form.fields.fromAddr.value" />
		            </p>
		            #errorMessageCreateOrder($!form.fields.fromAddr.message)
		            </div>
	            </li>
	            
	            <li>
		            <label for="inp_name"><em>*</em> 目的地：</label>
		            <div class="reg_info_li_box">
		            	<p>
		            		<input class="input_400" type="text" id="$!form.fields.arriveAddr.name" name="$!form.fields.arriveAddr.name" value="$!form.fields.arriveAddr.value" />
		            	</p>
		            	#errorMessageCreateOrder($!form.fields.arriveAddr.message)
		            </div>
		            
	            </li>
	            
	            <li>
		            <label for="inp_name">途径：</label>
		            <div class="reg_info_li_box">
		            	<p style="width:100%">
                            	<textarea name="$!form.fields.approach.name" class="textarea400">$!form.fields.approach.value</textarea>
                         </p>
		            	#errorMessageCreateOrder($!form.fields.approach.message)
		            </div>
		            
	            </li>
	            
	            <li>
	            	<label for="inp_name"><em>*</em> 出发日期：</label>
	            	
	            	#set($fromDate = $form.fields.fromTimeDate.value)
	            	#if ("$!fromDate" == "")
	            		#set($fromDate = $!dateUtil.formatDate($defaultCreateDate, 'yyyy-MM-dd'))
	            	#end
	            	
		            <div class="reg_info_li_box">
						<p>
							<input type="text" readonly="readonly" class="input_95 date-pick" name="$!form.fields.fromTimeDate.name" value="$!fromDate" /> 
		                </p>
		                 #errorMessageCreateOrder($!form.fields.fromTimeDate.message)
		                </div>
		            </li>
	            
	            
	           		<li>
		            	<label for="inp_name"><em>*</em> 出发时间：</label>
		            	#set($selectedHour = $form.fields.fromTimeHour.value)
		            	#if ("$!selectedHour" == "")
		            		#set($selectedHour = $fromHour)
		            	#end
		            	
		            	#set($selectedMinute = $form.fields.fromTimeMinute.value)
		            	#if ("$!selectedMinute" == "")
		            		#set($selectedMinute = $fromMinute)
		            	#end
		            	
			            <div class="reg_info_li_box">
							<p>
								#set($hours = [0 .. 23])
								<select name="$!form.fields.fromTimeHour.name">
									#foreach ($hour in $hours)
										<option value="$hour" #if ("$!selectedHour" == "$!hour") selected #end>$hour时</option>
									#end
				                </select>
								
				                #set($minuteIndice = [0 .. 11])
				                <select name="$!form.fields.fromTimeMinute.name">
				                	#foreach($minuteIndex in $minuteIndice)
				                		#set($minute = $minuteIndex * 5)
										<option value="$minute" #if("$!selectedMinute" == "$!minute") selected #end>$minute分</option>
									#end
				                </select>
					                
			                </p>
			                #errorMessageCreateOrder($!form.fields.fromTimeHour.message)
							#errorMessageCreateOrder($!form.fields.fromTimeMinute.message)
		                </div>
		            </li>
	                
	                <li>
	                	<label for="inp_name"> 预计到达时间：</label>
	                	#set($arriveSelectedHour = $form.fields.arriveTimeHour.value)
		            	#set($arriveSelectedMinute = $form.fields.arriveTimeMinute.value)
	                	
		            	<div class="reg_info_li_box">
							<p>
								#set($hours = [0 .. 23])
								<select name="$form.fields.arriveTimeHour.name">
									<option></option>
									#foreach ($hour in $hours)
										<option value="$hour" #if ("$!arriveSelectedHour" == "$!hour") selected #end>$hour时</option>
									#end
				                </select>
								
				                #set($minuteIndice = [0 .. 11])
				                <select name="$form.fields.arriveTimeMinute.name">
				                	 <option></option>
				                	#foreach($minuteIndex in $minuteIndice)
				                		#set($minute = $minuteIndex * 5)
										<option value="$minute" #if("$!arriveSelectedMinute" == "$!minute") selected #end>$minute分</option>
									#end
				                </select>
			                </p>
			                 #errorMessageCreateOrder($!form.fields.arriveTimeHour.message)
							 #errorMessageCreateOrder($!form.fields.arriveTimeMinute.message)
			                </p>
                            <p class="color_gray attention">
                            	该项可选填，填写预计到达时间可以明确地将您的需求告诉乘客，避免因时间的误差而引起的争论。
                            </p>
		                </div>
		               
	                </li>
	                
	                
	                <li>
		                <label for="inp_name"> 描述：</label>
		            	<div class="reg_info_li_box">
			            	<p>
			            		<textarea cols="" rows="4" style="width:400px; line-height:25px; color:#666; height:110px;"  id="$!form.fields.description.name" name="$!form.fields.description.name">$!{form.fields.description.value}</textarea>
			            	</p>
			            	#errorMessageCreateOrder($!form.fields.description.message)
		            	</div>
		            	
	            	</li> 
	            	
	                <li>
	                	<label for="inp_name"><em>*</em> 验证码：</label>
		            	<div class="reg_info_li_box">
			            	<p>
			            		<input class="input_95" type="text" id="$!form.fields.checkCode.name" maxlength="4" name="$form.fields.checkCode.name" value="" />
			            		$control.setTemplate('common/checkCode.vm')
			            	</p>
			            	#errorMessageCreateOrder($!form.fields.checkCode.message)
		            	</div>
		            	
	            	</li>
	            	
	                <li>
	                	#errorMessageCreateOrder($!csrfmessage)
						#errorMessageCreateOrder($!resultmessage.message)
						
						<label>&nbsp;</label>
	                	<button type="submit" class="but_cjpc" value="提交"></button>
	                </li> 
	            
	            
	         </ul>
        </form>
        </div>

    </div><!--left end-->

  <div class="reg_r_box">
     <p class="register_intro">&nbsp;&nbsp;&nbsp;&nbsp;花费你一分钟来进行注册，您就可以享用一辆车网站更多的功能！如果您已经注册过，请直接登录，并注意维护您的个人信息以便我们保持联系。如果您有任何问题，欢迎随时致电我们。</p>
  </div>
  <div class="clear"></div>
</div>

</div><!--content-2 end-->

<script type="text/javascript">
	$(document).ready(function(){
		$('.date-pick').datePicker({clickInput:true});
		
		$('.order_type_selector').bind('click', function() {
			var val = this.value;
			if (val == "1") {
				// taxi
				$('#J_creator_type').attr('disabled', 'disabled');
				$('#J_creator_type').css('display', 'none');
			} else if(val == "2") {
				// shunfengche
				$('#J_creator_type').css('display', 'block');
				$('#J_creator_type').attr('disabled', false);
			}
		});
		
		
		$('.creator_car_owner_type_selector').bind('click', function() {
			var val = this.value;
			if (val == "1") {
				// car onwer
				$('#J_car_no').attr('disabled', 'disabled');
				$('#J_car_no').css('display', 'block');
			} else if(val == "2") {
				// has no car
				$('#J_car_no').css('display', 'none');
				$('#J_car_no').attr('disabled', false);
			}
		});
		
	});
</script>