#set($pageTitle="创建拼车成功")
$rundata.setAttribute('pageTitle', $pageTitle)

<div id="cArea"><!--content begin-->
<div class="cbox">
	<div class="create_cutbread">
    	<div class="create_cb_car"></div>
        <div class="create_cb_info_y"></div>
        <div class="create_cb_suc_y"></div>
    </div>
    
    <div class="create_box font_14_b col_gray" style="margin-bottom: 15px;margin-top:30px">
        <img src="$imgServer/Symbol_Check.png" border="0" height="90" width="100" class="fl"/>
        <div class="fl" style="padding:30px 10px;">
        恭喜您，发起拼车成功已经创建完成！
		<a href="$snowModule.setTarget('together/orderDetail').addQueryData('orderId', $rundata.queryString.getLong('orderId'))" class="text_drakgreen">[查看刚刚创建的拼车]</a>
        <a href="$snowModule.setTarget('index')" class="text_drakgreen">[返回首页]</a>
        
        </div>
    </div>
</div>
</div><!--content end-->