<div id="cArea"><!--content-2 begin-->
	<div class="cbox">
		<div class="details_box">
			<div style="padding:0 20px 20px;">
		        <div class="tip_box">
		           	 恭喜您，已经加入该拼车，请等待车主确认。
		        </div>
		        
		        <div>
		        	  <a href="$snowModule.setTarget('index')" class=" but_bg fl"><strong>返回首页</strong></a>
		        </div>
		        
		    </div>
		</div>
	</div>
</div>