#macro(errorMessage, $str)
	#if( "$!str" != "")
		<div class="common-error-message">${str}</div>
	#end
#end


<table width="500px;">
	<caption>拼单信息</caption>
	<tr>
		<td>出发地</td><td>$!{order.fromCity} $!{order.fromAddr}</td>
	</tr>
	<tr>
		<td>出发时间</td><td>$!dateUtil.formatFullDate($order.fromTime)</td>
	</tr>
	<tr>
		<td>达到地</td><td>$!{order.arriveCity} $!{order.arriveAddr}</td>
	</tr>
	<tr>
		<td>达到时间</td><td>$!dateUtil.formatFullDate($order.arriveTime)</td>
	</tr>
	<tr>
		<td>空余座位 </td><td>$!order.totalSeats</td>
	</tr>
	<tr>
		<td>描述</td><td>$!order.description</td>
	</tr>
</table>

#errorMessage($!resultmessage.message)

#if ($isCreatorSelf)
	你是该拼单的创建者，你可以 <a href="#">取消拼车</a>
#elseif ($hasBeenJoin)
	你已经加入该拼车，你可以<a href="#">退出该拼车</a>
#elseif ("$leftSeatCount" == "0")
	对不起，该拼车的位置已经满了，推荐你<a href="#">去别拼车单看看</a>
#else
	<a href="$snowModule.setTarget('t').add('actionTarget', 'together/orderAction').add('actionEvent', 'joinOrder').add('orderId', $order.id)">确认加入拼车</a>
#end


