#set($form = $formFactory.createForm("together.createOrder"))

#macro(errorMessageCreateOrder, $str)
	#if( "$!str" != "")
		<p class="color_gray error-tip">
			$str
		</p>
	#end
#end

<div id="cArea"><!--content-2 begin-->
<div class="cbox">
	<div class="create_cutbread">
    	<div class="create_cb_car"></div>
        <div class="create_cb_info_g_y"></div>
        <div class="create_cb_suc_g"></div>
    </div>
    <Div style="height:1px; background:#ccc; width:100%; overflow:hidden"></Div>


                	<div class="reg_l_box"><!--left begin-->
                
                        <div class="reg_info">
                        <form  id="J_create_order_form" action="" method="post">
                	        <input type="hidden" name="createOrder" value="$tokenUtil.token('createOrder')" />
                			<input type="hidden" name="actionTarget" value="together/orderAction" />
                			<input type="hidden" name="actionEvent" value="createOrder" />
                			
                	        <ul>
                	        	<li>
                                    <div class="info-title">
                                    	<em>*</em> 发起人：
                                    </div>
                                    <span class="fl color_gray">
                                    <div class="reg_info_li_box">
                                    	$!snowUtil.loginUsername
                                    </div>
                                    </span>
                                </li>
                                
                                <li>
                                    <div class="info-title">
                                    	<em>*</em> 拼车类型：
                                    </div>
                                    
                                    #set($selectOrderType = $!form.fields.type.value)
                                    #if (!$!selectOrderType || "$!selectOrderType" == "0")
                                    	 #set($selectOrderType = $!selectedOrderType.value)
                                    #end
                                    
                                    #if ("$!selectOrderType" == "1")
                						## 出租车
                						#set($showSeats = true)
                						#set($showCreatorType = false)
                						#set($showCarNo = false)
                						#set($showCarType = false)
                					#elseif ("$!selectOrderType" == "2")
                						## 顺风车
                						#set($showCreatorType = true)
                						#if ("$!form.fields.creatorCarOwnerType.value" == "1")
                							## 发起人是车主
                							#set($showCarNo = true)
                							#set($showCarType = true)
                							#set($showSeats = true)
                						#elseif ("$!form.fields.creatorCarOwnerType.value" == "2")
                							## 发起人是乘客
                							#set($showCarNo = false)
                							#set($showCarType = false)
                							#set($showSeats = false)
                						#end
                					#end
                                    
                                    <div class="reg_info_li_box">
                                        
                                        <label for="$!{form.fields.type.name}-1">
                	                        <input id="$!{form.fields.type.name}-1" class="order_type_selector" name="$!form.fields.type.name" type="radio" value="1" style="border:none"
                	                         #if("$!selectOrderType" == "1") checked #end />拼出租车
                	                    </label>
                	                    
                	                    <label for="$!{form.fields.type.name}-2">
                	                        <input id="$!{form.fields.type.name}-2" class="order_type_selector" name="$!form.fields.type.name" type="radio" value="2" style="border:none"
                	                         #if("$!selectOrderType" == "2") checked #end />顺风车
                	                    </label>
                                            
                                        #errorMessageCreateOrder($!form.fields.type.message)
                                    </div>
                                </li>
                                
                               <li id="J_creator_type" #if(!$showCreatorType) style="display:none" #end >
                                	<div class="info-title">
                                    	<em>*</em> 发起人身份：
                                    </div>
                                    <div class="reg_info_li_box">
                                    	<label for="$!{form.fields.creatorCarOwnerType.name}-1">
                                        	<input class="creator_car_owner_type_selector" id="$!{form.fields.creatorCarOwnerType.name}-1" name="$!form.fields.creatorCarOwnerType.name" type="radio" style="border:none" value="1" #if ("$!form.fields.creatorCarOwnerType.value" == "1") checked #end />我是车主
                                        </label>
                                        <label for="$!{form.fields.creatorCarOwnerType.name}-2">
                                        <input class="creator_car_owner_type_selector" id="$!{form.fields.creatorCarOwnerType.name}-2" name="$!form.fields.creatorCarOwnerType.name" type="radio" style="border:none" value="2" #if ("$!form.fields.creatorCarOwnerType.value" == "2") checked #end />我是乘客
                                        </label>
                                     #errorMessageCreateOrder($!form.fields.creatorCarOwnerType.message)
                                    </div>
                                </li>
                                
                	        	<li id="J_car_type" #if(!$showCarType) style="display:none" #end>
                                   <div class="info-title"><em>*</em> 汽车类型：</div>
                                   <div class="reg_info_li_box">
                                    	<p>
                                    		<select name="$!form.fields.carType.name" id="$!form.fields.carType.name">
                                    		#foreach($carType in $carTypes)
                                    			<option value="$!carType.value" #if("$!form.fields.carType.value" == "$!carType.value") selected #end >$!carType.name</option>
                                    		#end
                                    		</select>
                                        </p>
                                        #errorMessageCreateOrder($!form.fields.carType.message)
                                   </div>
                                </li>
                                
                               <li id="J_car_no" #if(!$showCarNo) style="display:none" #end>
                                    <div class="info-title">
                                    	<em></em> 车牌号：
                                    </div>
                                    <div class="reg_info_li_box">
                                    	<p>
                                        	<input name="$!form.fields.carNo.name" type="text" class="input_95" value="$!form.fields.carNo.value" />
                                        </p>
                                        #errorMessageCreateOrder($!form.fields.carNo.message)
                                        <p class="color_gray attention">
                                            	车牌号后（也可以不填），拼客会更加相信您的拼车信息，方便您快速完成拼车体验。
                                        </p>
                                   </div>
                                </li>
                                
                                
                	        	<li id="J_totalSeats" #if(!$showSeats) style="display:none" #end>
                		            <div class="info-title">
                                    	<em>*</em> 空余座位数：
                                    </div>
                		            <div class="reg_info_li_box">
                		            	<p>
                		            		<input class="input_95" type="text" id="$!form.fields.totalSeats.name" name="$!form.fields.totalSeats.name" value="$!form.fields.totalSeats.value"/>
                		            	</p>
                		            	#errorMessageCreateOrder($!form.fields.totalSeats.message)
                		            	<p class="color_gray attention">
                                             	空余座位数不包括您自己。
                                        </p>
                		            </div>
                	            </li>
                	        	
                	            <li>
                		            <div class="info-title">
                                    	<em>*</em> 出发城市：
                                    </div>
                		            <div class="reg_info_li_box">
                			            <p>
                			            	<input type="text" class="input_95" id="$!form.fields.fromCity.name" name="$!form.fields.fromCity.name" value="$!form.fields.fromCity.value" />
                			           		<a href="#" id="change_from_city">选择城市...</a>
                			            </p>
                			             #errorMessageCreateOrder($!form.fields.fromCity.message)
                		            </div>
                	            </li>
                	            
                	            <li>
                		            <div class="info-title">
                                    	<em>*</em> 出发地：
                                    </div>
                		            <div class="reg_info_li_box">
                		            <p>
                		           		<input class="input_400" type="text" id="$!form.fields.fromAddr.name" name="$!form.fields.fromAddr.name" value="$!form.fields.fromAddr.value" />
                		            </p>
                		            #errorMessageCreateOrder($!form.fields.fromAddr.message)
                		            </div>
                	            </li>
                	            
                	            <li>
                		            <div class="info-title">
                                    	<em>*</em> 目的城市：
                                    </div>
                		            <div class="reg_info_li_box">
                			            <p>
                			            	<input type="text" class="input_95" id="$!form.fields.arriveCity.name" name="$!form.fields.arriveCity.name" value="$!form.fields.arriveCity.value" />
                			           		<a href="#" id="change_arrive_city">选择城市...</a>
                			            </p>
                			             #errorMessageCreateOrder($!form.fields.arriveCity.message)
                		            </div>
                	            </li>
                	            
                	            <li>
                		            <div class="info-title">
                                    	<em>*</em> 目的地：
                                    </div>
                		            <div class="reg_info_li_box">
                		            	<p>
                		            		<input class="input_400" type="text" id="$!form.fields.arriveAddr.name" name="$!form.fields.arriveAddr.name" value="$!form.fields.arriveAddr.value" />
                		            	</p>
                		            	#errorMessageCreateOrder($!form.fields.arriveAddr.message)
                		            </div>
                		            
                	            </li>
                	            
                	            <li>
                		            <div class="info-title">
                                    	途径：
                                    </div>
                		            <div class="reg_info_li_box">
                		            	<p style="width:100%">
                                            	<textarea name="$!form.fields.approach.name" class="textarea400">$!form.fields.approach.value</textarea>
                                         </p>
                		            	#errorMessageCreateOrder($!form.fields.approach.message)
                		            </div>
                	            </li>
                	            
                	            <li>
                	            	<div class="info-title">
                                    	<em>*</em> 出发日期：
                                    </div>
                	            	
                	            	#set($fromDate = $form.fields.fromTimeDate.value)
                	            	#if ("$!fromDate" == "")
                	            		#set($fromDate = $!dateUtil.formatDate($defaultCreateDate, 'yyyy-MM-dd'))
                	            	#end
                	            	
                		            <div class="reg_info_li_box">
                						<p>
                							<input type="text" readonly="readonly" class="input_95 date-pick" name="$!form.fields.fromTimeDate.name" value="$!fromDate" /> 
                		                </p>
                		                 #errorMessageCreateOrder($!form.fields.fromTimeDate.message)
                		            </div>
                		        </li>
                	            
                	           	<li>
                	            	<div class="info-title"><em>*</em> 出发时间：</div>
                	            	#set($selectedHour = $form.fields.fromTimeHour.value)
                	            	#if ("$!selectedHour" == "")
                	            		#set($selectedHour = $fromHour)
                	            	#end
                	            	
                	            	#set($selectedMinute = $form.fields.fromTimeMinute.value)
                	            	#if ("$!selectedMinute" == "")
                	            		#set($selectedMinute = $fromMinute)
                	            	#end
                	            	
                		            <div class="reg_info_li_box">
                						<p>
                							#set($hours = [0 .. 23])
                							<select name="$!form.fields.fromTimeHour.name">
                								#foreach ($hour in $hours)
                									<option value="$hour" #if ("$!selectedHour" == "$!hour") selected #end>$hour时</option>
                								#end
                			                </select>
                							
                			                #set($minuteIndice = [0 .. 11])
                			                <select name="$!form.fields.fromTimeMinute.name">
                			                	#foreach($minuteIndex in $minuteIndice)
                			                		#set($minute = $minuteIndex * 5)
                									<option value="$minute" #if("$!selectedMinute" == "$!minute") selected #end>$minute分</option>
                								#end
                			                </select>
                				            
                				            <a id="show_set_arriveTime_link" href="#">设置预计到达时间</a>
                		                </p>
                		                #errorMessageCreateOrder($!form.fields.fromTimeHour.message)
                						#errorMessageCreateOrder($!form.fields.fromTimeMinute.message)
                	                </div>
                	            </li>
                                
                                
                                #set($arriveSelectedHour = $form.fields.arriveTimeHour.value)
                	            #set($arriveSelectedMinute = $form.fields.arriveTimeMinute.value)
                	            
                	            #if ("$!arriveSelectedHour" != "" || "$!arriveSelectedMinute" != "")
                	            	#set($showArriveTime = true)
                	            #else
                	            	#set($showArriveTime = false)
                	            #end
                	            
                                <li id="J_arriveTime" #if (!$!showArriveTime) style="display:none" #end>
                                	<div class="info-title">
                                    	预计到达时间：
                                    </div>
                	            	<div class="reg_info_li_box">
                						<p>
                							#set($hours = [0 .. 23])
                							<select name="$form.fields.arriveTimeHour.name">
                								<option></option>
                								#foreach ($hour in $hours)
                									<option value="$hour" #if ("$!arriveSelectedHour" == "$!hour") selected #end>$hour时</option>
                								#end
                			                </select>
                							
                			                #set($minuteIndice = [0 .. 11])
                			                <select name="$form.fields.arriveTimeMinute.name">
                			                	 <option></option>
                			                	#foreach($minuteIndex in $minuteIndice)
                			                		#set($minute = $minuteIndex * 5)
                									<option value="$minute" #if("$!arriveSelectedMinute" == "$!minute") selected #end>$minute分</option>
                								#end
                			                </select>
                		                </p>
                		                 #errorMessageCreateOrder($!form.fields.arriveTimeHour.message)
                						 #errorMessageCreateOrder($!form.fields.arriveTimeMinute.message)
                		                </p>
                	                </div>
                	               
                                </li>
                                
                                
                                <li>
                	                <div class="info-title">
                                    	描述：
                                    </div>
                	            	<div class="reg_info_li_box">
                		            	<p>
                		            		<textarea cols="" rows="4" style="width:400px; line-height:25px; color:#666; height:110px;"  id="$!form.fields.description.name" name="$!form.fields.description.name">$!{form.fields.description.value}</textarea>
                		            	</p>
                		            	#errorMessageCreateOrder($!form.fields.description.message)
                	            	</div>
                	            	
                            	</li> 
                            	
                                <li>
                                	<div class="info-title">
                                    	<em>*</em> 验证码：
                                    </div>
                	            	<div class="reg_info_li_box">
                		            	<p>
                		            		<input class="input_95" type="text" id="$!form.fields.checkCode.name" maxlength="4" name="$form.fields.checkCode.name" value="" />
                		            		$control.setTemplate('common/checkCode.vm')
                		            	</p>
                		            	#errorMessageCreateOrder($!form.fields.checkCode.message)
                	            	</div>
                	            	
                            	</li>
                            	
                                <li>
                                	#errorMessageCreateOrder($!csrfmessage)
                					#errorMessageCreateOrder($!resultmessage.message)
                					
                					<div class="info-title">&nbsp;</div>
                                	<button id="xxxx" type="submit" class="but_cjpc" value="提交"></button>
                                </li> 
                	            
                	       </ul>
                        </form>
                        </div>
                
                    </div><!--left end-->
  <div class="reg_r_box"><!--right begin-->
     <p class="register_intro">&nbsp;&nbsp;&nbsp;&nbsp;欢迎来到一辆车拼车网！</p>
  </div><!--right end-->
  <div class="clear"></div>
</div>

</div><!--content-2 end-->


<div id="choose_city_dialog" title="选择城市">
	<p>
		$control.setTemplate('area/hotCitiesList.vm')
	</p>
</div>


<link type="text/css" href="${jsServer}/jquery/css/ui-lightness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="${jsServer}/jquery/jquery-ui-1.8.11.custom.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('.date-pick').datePicker({clickInput:true});
		
		function setVisible(el, yes) {
			if (yes) {
				$(el).css('display', 'block');
				$(el).attr('disabled', false);
			} else {
				$(el).css('display', 'none');
				$(el).attr('disabled', 'disabled');
			}
		}
		
		$('.order_type_selector').bind('click', function() {
			setVisible('#J_totalSeats', true);
		
			var val = this.value;
			if (val == "1") {
				// taxi
				setVisible('#J_creator_type', false);
				// hide car no
				setVisible('#J_car_no', false);
				setVisible('#J_car_type', false);
			} else if(val == "2") {
				// shunfengche
				setVisible('#J_creator_type', true);
				
				var checkedVal = $('input[name=creatorCarOwnerType]:checked').val();
				if (checkedVal == "1") {
					// show carNO
					setVisible('#J_car_no', true);
					setVisible('#J_car_type', true);
				} else if (checkedVal == "2") {
					// hide seat
					setVisible('#J_totalSeats', false);
				}
			}
		});
		
		$('.creator_car_owner_type_selector').bind('click', function() {
			setVisible('#J_totalSeats', true);
			
			var val = this.value;
			if (val == "1") {
				// car onwer
				setVisible('#J_car_no', true);
				setVisible('#J_car_type', true);
			} else if(val == "2") {
				// has no car
				setVisible('#J_car_no', false);
				setVisible('#J_car_type', false);
				setVisible('#J_totalSeats', false);
			}
		});
		
		$('#choose_city_dialog').dialog({
			autoOpen: false,
			width: 600,
			modal: true,
			buttons: {
				"取消": function() { 
					$(this).dialog("close"); 
				} 
			}
		});
		
		window.target_city_input_id = "";
		
		$('#change_arrive_city').click(function(){
			window.target_city_input_id = "$!form.fields.arriveCity.name";
			$('#choose_city_dialog').dialog('open');
			return false;
		});
		
		$('#change_from_city').click(function(){
			window.target_city_input_id = "$!form.fields.fromCity.name";
			$('#choose_city_dialog').dialog('open');
			return false;
		});
		
		$('#show_set_arriveTime_link').bind('click', function() {
			if ( $('#J_arriveTime').css('display') == 'none') {
				$('#J_arriveTime').css('display', 'block');
			} else {
				$('#J_arriveTime').css('display', 'none');
			}
			return false;
		});
		
		$('#J_moreCityLink').bind('click', function() {
			var url = "$snowModule.setTarget('city/cityList').add('isSwitch', true)";
			url += "&onName=" + window.target_city_input_id;
			window.open(url);
			$('#choose_city_dialog').dialog("close");
			
		});
	});
</script>