#set($form = $formFactory.createForm("together.createOrder"))

#macro(errorMessageCreateOrder, $str)
	#if( "$!str" != "")
		<div style="clear:both; margin:5px 0 0 100px; width:180px;" class="error-tip">
			$str
		</div>
	#end
#end

<div id="cArea"><!--content-2 begin-->
<div class="cbox">
	<div class="create_cutbread">
    	<div class="create_cb_car"></div>
        <div class="create_cb_info_g_y"></div>
        <div class="create_cb_suc_g"></div>
    </div>
    <Div style="height:1px; background:#ccc; width:100%; overflow:hidden"></Div>

	<div class="reg_l_box"><!--left begin-->

        <div class="reg_info">
        <form action="" method="post" >
	        <input type="hidden" name="createOrder" value="$tokenUtil.token('createOrder')" />
			<input type="hidden" name="actionTarget" value="together/orderAction" />
			<input type="hidden" name="actionEvent" value="createOrder" />
			
	        <ul>
	        	<li>
                    <label><em>*</em> 发起人：</label>
                    <span class="fl color_gray">$!snowUtil.loginUsername</span>
                </li>
                
                <li>
                    <label><em>*</em> 拼车类型：</label>
                    
                    #set($selectOrderType = $!form.fields.type.value)
                    #if ("$!selectOrderType" == "")
                    	 #set($selectOrderType =$!selectedOrderType.value)
                    #end
                    
                    <div class="reg_info_li_box">
	                    <select name="$!form.fields.type.name" >
	                    	#foreach($orderType in $orderTypes)
		                        <option value="$!orderType.value" #if("$!selectOrderType" == "$!orderType.value") selected #end>$orderType.name</option>
	                        #end
	                     </select>
                     </div>
                </li>
	        	
	            <li>
		            <label for="inp_name"><em>*</em> 城市：</label>
		            <div class="reg_info_li_box">
			            <p>
			            	<input type="text" class="input_95" id="$!form.fields.fromCity.name" name="$!form.fields.fromCity.name" value="$!form.fields.fromCity.value" />
			           		<a href="$snowModule.setTarget('city/cityList').add('isSwitch','true').add('onId', 'cityId').add('onName', 'fromCity')" target="_blank">更换城市...</a>
			            </p>
		            </div>
		            #errorMessageCreateOrder($!form.fields.fromCity.message)
	            </li>
	            
	            <li>
		            <label for="inp_name"><em>*</em> 出发地：</label>
		            <div class="reg_info_li_box">
		            <p>
		           		<input class="input_400" type="text" id="$!form.fields.fromAddr.name" name="$!form.fields.fromAddr.name" value="$!form.fields.fromAddr.value" />
		            </p>
		            </div>
		             #errorMessageCreateOrder($!form.fields.fromAddr.message)
	            </li>
	            
	            <li>
		            <label for="inp_name"><em>*</em> 目的地：</label>
		            <div class="reg_info_li_box">
		            	<p><input class="input_400" type="text" id="$!form.fields.arriveAddr.name" name="$!form.fields.arriveAddr.name" value="$!form.fields.arriveAddr.value" /></p>
		            </div>
		            #errorMessageCreateOrder($!form.fields.arriveAddr.message)
	            </li>
	            
                <li>
		            <label for="inp_name"><em>*</em> 座位：</label>
		            <div class="reg_info_li_box">
		            	<p>
		            		<input class="input_95" type="text" id="$!form.fields.totalSeats.name" name="$!form.fields.totalSeats.name" value="$!form.fields.totalSeats.value"/>
		            	</p>
		            </div>
		            #errorMessageCreateOrder($!form.fields.totalSeats.message)
	            </li>
	            
	            <li>
		            <label for="inp_name">途径：</label>
		            <div class="reg_info_li_box">
		            	<p><input class="input_400" type="text" id="$!form.fields.approach.name" name="$!form.fields.approach.name" value="$!form.fields.approach.value"/></p>
		            </div>
		            #errorMessageCreateOrder($!form.fields.approach.message)
	            </li>
	            
	            <li>
	            	<label for="inp_name"><em>*</em> 出发日期：</label>
	            	
	            	#set($fromDate = $form.fields.fromTimeDate.value)
	            	#if ("$!fromDate" == "")
	            		#set($fromDate = $!dateUtil.formatDate($defaultCreateDate, 'yyyy-MM-dd'))
	            	#end
	            	
		            <div class="reg_info_li_box">
						<p>
							<input type="text" readonly="readonly" class="input_95 date-pick" name="$!form.fields.fromTimeDate.name" value="$!fromDate" /> 
		                </p>
		                </div>
		                #errorMessageCreateOrder($!form.fields.fromTimeDate.message)
		            </li>
	            
	            
	           		<li>
		            	<label for="inp_name"><em>*</em> 出发时间：</label>
		            	#set($selectedHour = $form.fields.fromTimeHour.value)
		            	#if ("$!selectedHour" == "")
		            		#set($selectedHour = $fromHour)
		            	#end
		            	
		            	#set($selectedMinute = $form.fields.fromTimeMinute.value)
		            	#if ("$!selectedMinute" == "")
		            		#set($selectedMinute = $fromMinute)
		            	#end
		            	
			            <div class="reg_info_li_box">
							<p>
								#set($hours = [0 .. 23])
								<select name="$!form.fields.fromTimeHour.name">
									#foreach ($hour in $hours)
										<option value="$hour" #if ("$!selectedHour" == "$!hour") selected #end>$hour时</option>
									#end
				                </select>
								
				                #set($minuteIndice = [0 .. 11])
				                <select name="$!form.fields.fromTimeMinute.name">
				                	#foreach($minuteIndex in $minuteIndice)
				                		#set($minute = $minuteIndex * 5)
										<option value="$minute" #if("$!selectedMinute" == "$!minute") selected #end>$minute分</option>
									#end
				                </select>
					                
			                </p>
		                </div>
						#errorMessageCreateOrder($!form.fields.fromTimeHour.message)
						#errorMessageCreateOrder($!form.fields.fromTimeMinute.message)
		            </li>
	                
	                <li>
	                	<label for="inp_name"> 预计到达时间：</label>
	                	#set($arriveSelectedHour = $form.fields.arriveTimeHour.value)
		            	#set($arriveSelectedMinute = $form.fields.arriveTimeMinute.value)
	                	
		            	<div class="reg_info_li_box">
							<p>
								#set($hours = [0 .. 23])
								<select name="$form.fields.arriveTimeHour.name">
									<option></option>
									#foreach ($hour in $hours)
										<option value="$hour" #if ("$!arriveSelectedHour" == "$!hour") selected #end>$hour时</option>
									#end
				                </select>
								
				                #set($minuteIndice = [0 .. 11])
				                <select name="$form.fields.arriveTimeMinute.name">
				                	 <option></option>
				                	#foreach($minuteIndex in $minuteIndice)
				                		#set($minute = $minuteIndex * 5)
										<option value="$minute" #if("$!arriveSelectedMinute" == "$!minute") selected #end>$minute分</option>
									#end
				                </select>
			                </p>
		                </div>
		                #errorMessageCreateOrder($!form.fields.arriveTimeHour.message)
						#errorMessageCreateOrder($!form.fields.arriveTimeMinute.message)
	                </li>
	                
	                
	                <li>
		                <label for="inp_name"> 描述：</label>
		            	<div class="reg_info_li_box">
			            	<p>
			            		<textarea cols="" rows="4" style="width:400px; line-height:25px; color:#666; height:110px;"  id="$!form.fields.description.name" name="$!form.fields.description.name">$!{form.fields.description.value}</textarea>
			            	</p>
			            	
		            	</div>
		            	#errorMessageCreateOrder($!form.fields.description.message)
	            	</li> 
	            	
	                <li><label for="inp_name"> 验证码：</label>
		            	<div class="reg_info_li_box">
		            	<p>
		            		<input class="reg_input_out" type="text" id="$!form.fields.checkCode.name" name="$form.fields.checkCode.name" value=""
		            	</p>
		            	</div>
		            	$control.setTemplate('common/checkCode.vm')
		            	#errorMessageCreateOrder($!form.fields.checkCode.message)
	            	</li>
	            	
	            	
	                <li>
	                	#errorMessageCreateOrder($!csrfmessage)
						#errorMessageCreateOrder($!resultmessage.message)
						
						<label>&nbsp;</label>
	                	<button type="submit" class="but_cjpc" value="提交"></button>
	                </li> 
	            
	            
	         </ul>
        </form>
        </div>

    </div><!--left end-->

  <div class="reg_r_box">
     <p class="register_intro">&nbsp;&nbsp;&nbsp;&nbsp;花费你一分钟来进行注册，您就可以享用一辆车网站更多的功能！如果您已经注册过，请直接登录，并注意维护您的个人信息以便我们保持联系。如果您有任何问题，欢迎随时致电我们。</p>
  </div>
  <div class="clear"></div>
</div>

</div><!--content-2 end-->

<script type="text/javascript">
	$(document).ready(function(){
		$('.date-pick').datePicker({clickInput:true});
	});
</script>