#macro(errorMessageOrderDetail, $str)
	#if( "$!str" != "")
		<div class="common-error-message">${str}</div>
	#end
#end


<div id="cArea"><!--content-2 begin-->
#errorMessageOrderDetail($!result.message)

<div class="cbox">
<div class="details_box">
    <div class="fl width70">
    	<ul class="bod_r">
		<li>
			<h1>
			从
			<span class="col_g">$!{order.fromCity}$!{order.fromAddr}</span>
			拼车到
			<span class=" col_g">$!{order.arriveCity}$!{order.arriveAddr}</span>
			</h1>
		</li>
        
		<li><strong>出发时间：</strong>$!dateUtil.formatFullDate($order.fromTime)
        <li><strong>预计到达时间：</strong>$!dateUtil.formatFullDate($order.arriveTime)
        <li><strong>参加人数/总座位数：</strong>$!joinersCount/$!order.totalSeats
        <li><strong>途径：</strong>$!order.approach
        <li style="line-height:20px"><strong>描述：</strong>$!order.description</li>
        </ul>
         
    </div>
    <div class="fr width30">

		<ul>
        	<li><h1>发起人信息</h1></li>
            <li><strong>姓名：</strong>$!creator.realName</li>
            <li><strong>性别：</strong>$!creator.sexEnum.name</li>
            <li><strong>年龄段：</strong>$!creator.birthYearEnum.name</li>
            <li><strong>职业：</strong>$!creator.career</li>
            #if ($showContactInfo)
	            <li><strong>手机：</strong>$!creator.phone</li>
	           	<li><strong>QQ号：</strong>$!creator.qq</li>
            #else
           		<li>登陆即可查看车主的联系方式 
           		<input class="login_btn" id="J_login_for_view" type="button" value="登陆查看" name="login" tabindex="3"/></li>
            #end
		</ul>

    </div>
	<div class=" hr_6"></div>
	<div class="r_c_box">
		<div class="text_cyr">

## 已经参加的人
<table width="100%" border="0" cellpadding="0" cellspacing="0"><!-- 已经参加的人 -->
	  <tr align="center">
	    <td width="9%">申请人</td>
	    <td width="6%">性别</td>
	    <td width="7%">年龄段</td>
	    <td width="12%">职业</td>
	    <td width="11%">手机号</td>
	    <td width="12%">QQ号</td>
	    <td width="17%">邮箱</td>
	    #if($isCreatorSelf) 
	    	<td width="17%">操作</td>
	    #end
	  </tr>
  
	#if ($showJoiners)
		#foreach($orderUser in $confirmedJoiners)
	  	<td>$!orderUser.realName</td>
	    <td>$!orderUser.sexEnum.name</td>
	    <td>$!orderUser.birthYearEnum.year</td>
	    <td>$!orderUser.career</td>
	    <td>$!orderUser.phone</td>
	    <td>$!orderUser.qq</td>
	    <td>$!orderUser.email</td>
		    #if($isCreatorSelf) 
		    	#if ($order.status != 20)
		    	<td><a href="$snowModule.setTarget('t').add('actionTarget', 'together/orderAction').add('actionEvent', 'removeUserFromOrder').add('id', $orderUser.id)" class="bnt_tg fl" style="margin:5px 0 0 10px; padding-left: 8px;">移除</a></td>
		  		#end
		  	#end
	  
		#end
	#end

</table>
<!-- 已经参加的人 end -->


#if ($order.status == 20)
	## 已经确认
	该拼车已经确认
#else

	## 拼车单待确认
	#if ($isCreatorSelf)
		## 显示申请人
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		  <tr align="left">
		    <td colspan="9">待审核</td>
		  </tr>
		  <tr align="center">
		    <td width="9%">申请人</td>
		    <td width="6%">性别</td>
		    <td width="7%">年龄段</td>
		    <td width="12%">职业</td>
		    <td width="11%">手机号</td>
		    <td width="12%">QQ号</td>
		    <td width="17%">邮箱</td>
		    <td width="17%">操作</td>
		  </tr>
		  #foreach($orderUser in $waitConfirmJoiners)
		  		<tr align="center">
			    <td>$!orderUser.realName</td>
			    <td>$!orderUser.sexEnum.name</td>
			    <td>$!orderUser.birthYearEnum.name</td>
			    <td>$!orderUser.career</td>
			    <td>$!orderUser.phone</td>
			    <td>$!orderUser.qq</td>
			    <td>$!orderUser.email</td>
			    <td>
			    	<a href="$snowModule.setTarget('t').add('actionTarget', 'together/orderAction').add('actionEvent', 'confirmUserJoin').add('id', $orderUser.id).add('agree', 'true')" class="bnt_tg fl" style="margin:5px 0 0 10px;">通过</a> 
			    	<a href="$snowModule.setTarget('t').add('actionTarget', 'together/orderAction').add('actionEvent', 'confirmUserJoin').add('id', $orderUser.id).add('agree', 'false')" class="bnt_btg fl" style="margin:5px 0 5px 10px;">不通过</a>
			    </td>
			  </tr>
			#end
		</table> 
	#end
	
	
	#set($leftSeatCount = $!order.totalSeats - $joinersCount )
	#if ($isCreatorSelf)
		你是该拼单的创建者， <a href="$snowModule.setTarget('t').add('actionTarget', 'together/orderAction').add('actionEvent', 'cancelOrder').add('orderId', $order.id)">取消该拼车</a>
		#if ($showConfirmOrderBtn)
			<a href="$snowModule.setTarget('t').add('actionTarget', 'together/orderAction').add('actionEvent', 'confirmTogetherOrder').add('orderId', $order.id)">确认该拼车</a>
		#end
	#elseif ($hasBeenJoin)
		你已经加入该拼车，你可以<a href="$snowModule.setTarget('t').add('actionTarget', 'together/orderAction').add('actionEvent', 'exitOrder').add('id', $joinedOrderUser.id)">退出该拼车</a>
	#elseif ("$!userJoinStatusValue" == "0") 
		你的申请还在等发起人确认，请耐心等待；或者你可以<a href="$snowModule.setTarget('t').add('actionTarget', 'together/orderAction').add('actionEvent', 'exitOrder').add('id', $joinedOrderUser.id)">退出拼车申请</a>
	#elseif ($leftSeatCount <= 0)
		对不起，该拼车的位置已经满了，推荐你<a href="#">去别拼车单看看</a>
	#else
		<a href="$snowModule.setTarget('together/personalInfo').add('orderId', $order.id).add('join', 'true')">加入拼车</a>
	#end

#end

</div></div>

</div>
    
</div></div><!--content-2 end-->


<script type="text/javascript">
	$(document).ready(function(){
		$('#J_login_for_view').bind("click", function() {
			#set($redirectUrl = "$snowModule.setTarget('/together/orderDetail').add('orderId', $order.id)")
			location.href="$snowModule.setTarget('login').add('redirectUrl', $redirectUrl)";
		});
	});
</script>