#macro(errorMessageOrderDetail, $str)
	#if( "$!str" != "")
		<div class="common-error-message">${str}</div>
	#end
#end


<div id="cArea"><!--content begin-->
#errorMessageOrderDetail($!result.message)

<div class="cbox">
    <div class="details_box"><!--details_box begin-->
        
        <div class="details_l">
		    <ul>
		        $control.setTemplate('together/orderInfo.vm').addAttribute('order', $order).addAttribute('joinersCount', $joinersCount).addAttribute('dateUtil', $dateUtil)
		         
		        #if ("$!order.status" != "20" )
		        	#if ($isCreatorSelf)
		            	<li>
		            		<div class="details-state_box">
                            	<span class="fr ml10">
			                    	  <a href="$snowModule.setTarget('t').add('actionTarget', 'together/orderAction').add('actionEvent', 'cancelOrder').add('orderId', $order.id)" class="but_cancelcar fr">取消拼车</a>
			                    </span>
			                    <span class="fr">
			                        	你是发起人，你可以
			                    </span>
			                    <div class="cl"></div>
			                </div>
		                </li>
		                #if ($showConfirmOrderBtn)
		                <li>
		                	<div class="details-state_box">
                            	<span class="fr ml10">
									<a href="$snowModule.setTarget('t').add('actionTarget', 'together/orderAction').add('actionEvent', 'confirmTogetherOrder').add('orderId', $order.id)" class="but_qrpc fr">确认拼车</a>
			                    </span>
                                <span class="fr">您创建的拼车已经有人加入，是否要 </span>
			                    <div class="cl"></div>
		                  </div>
						#end
						</li>
					#elseif ($hasBeenJoin)
						<li>
		            		<div class="details-state_box">
                            	<span class="fr ml10">
			                    	  <a href="$snowModule.setTarget('t').add('actionTarget', 'together/orderAction').add('actionEvent', 'exitOrder').add('id', $joinedOrderUser.id)" class="but_tcpc fr">退出拼车</a>
			                    </span>
			                    <span class="fr">
			                        	你已经加入该拼车，你可以
			                    </span>
			                    <div class="cl"></div>
			                </div>
		                </li>
					#elseif ("$!userJoinStatusValue" == "0") 
						<li>
		            		<div class="details-state_box">
                            	<span class="fr ml10">
			                    	  <a href="$snowModule.setTarget('t').add('actionTarget', 'together/orderAction').add('actionEvent', 'exitOrder').add('id', $joinedOrderUser.id)" class="but_tcsq fr">退出申请</a>
			                    </span>
			                    <span class="fr">
			                        	你的申请还在等发起人确认，请耐心等待；或者你可以
			                    </span>
			                    <div class="cl"></div>
			                </div>
		                </li>
					#elseif ($!leftSeatCount <= 0)
						<li>
		            		<div class="details-state_box">
                            	<span class="fr ml10">
			                    	 <a href="#" class="but_carbg dis">去别拼车单看看</a>
			                    </span>
			                    <span class="fr">
			                        	对不起，该拼车的位置已经满了，推荐你
			                    </span>
			                    <div class="cl"></div>
			                </div>
		                </li>
					#else
						<li>
		            		<div class="details-state_box">
                            	<span class="fr ml10">
			                    	<a href="$snowModule.setTarget('together/personalInfo').add('orderId', $order.id).add('join', 'true')" class="but_addcar fr">加入拼车</a>
                                </span>
			                    <span class="fr">
			                        该拼车还有位置，您可以
			                    </span>
			                    
			                    <div class="cl"></div>
			                </div>
		                </li>
						
					#end
		        	
		        #end
		    </ul>
		</div>
        
        $control.setTemplate('together/creatorInfo.vm').addAttribute('creator', $creator).addAttribute('showContactInfo', $showContactInfo)
        
        <div class="hr_6"></div>
    
    	#if ("$!order.status" == "20")
        <div style="padding:0 20px 20px;">
            <div class="tip_box">
                <strong class="col_g">dd</strong>
                恭喜您，该拼车单已经完成。
            </div>
        </div>
    	
    	#else
	        <div class="r_c_box">
	            <div class="text_cyr">
	                
	                #if ($showJoiners)
	                	$control.setTemplate('together/joinedUsers.vm').addAttribute('confirmedJoiners', $confirmedJoiners).addAttribute('isCreatorSelf', $isCreatorSelf).addAttribute('order', $order)
	                #end
	                
	                <div class="hr_10"></div>
	                
	                #if ($isCreatorSelf)
	               		$control.setTemplate('together/waitConfirmUsers.vm').addAttribute('waitConfirmJoiners', $waitConfirmJoiners)
	                #end
	                
	            </div>
	        </div>
        #end
        
        
    </div><!--content end-->
</div>
</div><!--content end-->
