#set($form = $formFactory.createForm("together.personalInfo"))

#macro(errorMessagePersonalInfo, $str)
	#if( "$!str" != "")
		<div style="clear:both; margin:5px 0 0 100px; width:180px;" class="error-tip">
			$str
		</div>
	#end
#end


<div id="cArea"><!--content-2 begin-->
<div class="cbox">
		<div class="create_cutbread">
	     	<div class="create_cb_car"></div>
	        <div class="create_cb_info_y"></div>
	        <div class="create_cb_suc_g_y"></div>
	    </div>   
    
    <Div style="height:1px; background:#ccc; width:100%; overflow:hidden"></Div>
    <div class="reg_l_box"><!--left begin-->
        <div class="reg_info">
        <form action="" method="post" >
        	<input type="hidden" name="actionEvent" value="$actionEvent" /> 
			<input type="hidden" name="actionTarget" value="together/orderAction" />
			<input type="hidden" name="orderId" value="$order.id" />
        <ul>
            <li>
	            <div class="info-title">
                	<em>*</em> 联系人：
                </div>
	            <div class="reg_info_li_box">
		            <p>
                    	<input class="input_150" maxlength="10" type="text" id="$!form.fields.realName.name" name="$!form.fields.realName.name" value="$!form.fields.realName.value" /> 
                    </p>
					#errorMessagePersonalInfo($!form.fields.realName.message)
	            </div>
            </li>
            
            <li>
            	<div class="info-title">
                	<em>*</em> 性别：
                </div>
	            <div class="reg_info_li_box">
	            <p>
                	<label for="$!{form.fields.sex.name}-1">
	            		<input id="$!{form.fields.sex.name}-1" name="$!form.fields.sex.name" value="1" #if("$!form.fields.sex.value" == "1") checked #end type="radio" style="border:none"/>
                        	先生
                    </label>
                    <label for="$!{form.fields.sex.name}-2">
						<input id="$!{form.fields.sex.name}-2"  name="$!form.fields.sex.name"  value="2" #if("$!form.fields.sex.value" == "2") checked #end  type="radio" style="border:none"/>
                       	 女士
                    </label>
                    </p>
					 #errorMessagePersonalInfo($!form.fields.sex.message)
	            </div>
	            
            </li>
            
            <li>
	            <div class="info-title">
                	<em>*</em> 出生年代：
                </div>
	            <div class="reg_info_li_box">
		            <p>
			            <select size="1" id="$!form.fields.birthYear.name" name="$!form.fields.birthYear.name">
			           	#if ("$!form.fields.birthYear.value" != "0")
							#set($selectedYear = "$!form.fields.birthYear.value")
						#end 
						#foreach($year in $years)
							<option value="$!year.value" #if("$!selectedYear" == "$!year.value") selected #end >$!year.name</option>
						#end
			            </select>
		            </p>
					#errorMessagePersonalInfo($!form.fields.birthYear.message)
					<p class="color_gray attention">
                        	同龄人之间有更多共同语言，更容易拼车成功。
                    </p>
	            </div>
            </li>
            
            <li>
	            <div class="info-title">
                	<em>*</em> 手机号：
                </div>
	            <div class="reg_info_li_box">
		            <p>
                        <input class="input_150" maxlength="11" type="text" id="$!form.fields.phone.name" name="$!form.fields.phone.name" value="$!form.fields.phone.value"/>
                    </p>
					 #errorMessagePersonalInfo($!form.fields.career.message)
	            </div>
	            
            </li>
            
            
            <li>
            	<div class="info-title">
                	<em>*</em> 职业：
                </div>
	            <div class="reg_info_li_box">
					<p>
						<select id="$!form.fields.career.name" name="$!form.fields.career.name">
							#foreach($career in $careers)
								<option value="$!career.name" #if( "$!form.fields.career.value" == "$!career.name" ) selected #end>$!career.name</option>
							#end
		                </select>
	           		</p>
	           		<p class="color_gray attention">
                        	提供您的职业信息会给其他拼客更多信任感。
                    </p>
					#errorMessagePersonalInfo($!form.fields.career.message)
	            </div>
            </li>
                
            
           <li>
               <div class="info-title">
               		qq：
               </div>
            	<div class="reg_info_li_box">
					<p>
                    <input class="input_150" maxlength="12" type="text" id="$!form.fields.qq.name" name="$!form.fields.qq.name" value="$!form.fields.qq.value"/>
                    </p>
					#errorMessagePersonalInfo($!form.fields.qq.message)
                </div>
           </li>
            
            <li>
            	<div class="reg_info_li_box" style="padding-left:105px">
                    <p>
                    	<label for="saveToUserInfo">
                    		<input type="checkbox" style="border:none" id="saveToUserInfo" name="saveToUserInfo" value="true" #if ($!isUserInfoEmpty) checked #end />
                        	同时更新我的个人资料 
                        </label>
                    </p>
                </div>
            </li>
            
            <li style="padding-left:105px">
	            #errorMessagePersonalInfo($!csrfmessage)
				#errorMessagePersonalInfo($!resultmessage.message)
                <p><input class="but_g_bg font_14_b" type="submit" value="提 交"></p>
            </li> 
            
         </ul>
        </form>
        </div></div>
		
        <div class="reg_r_box"><!--right begin-->
			<p class="register_intro">&nbsp;&nbsp;&nbsp;&nbsp;欢迎来到一辆车拼车网！</p>
    	</div><!--right end-->
    </div>
    
	<div class="cl"></div>	
</div>
</div><!--content-2 end-->
