
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr align="left">
        <td colspan="9"><span class="fl">已审核参与人的信息</span></td>
    </tr>
    <tr align="center">
        <td>申请人</td>
        <td>性别</td>
        <td>年龄段</td>
        <td>职业</td>
        <td>手机号</td>
        <td>QQ号</td>
        <td>邮箱</td>
         #if($isCreatorSelf) 
		    #if ($order.status != 20)
        		<td>移除</td>
        	#end
	     #end
    </tr>
    
    #foreach($orderUser in $confirmedJoiners)
	    <tr align="center">
	        <td>$!orderUser.realName </td>
	        <td>$!orderUser.sexEnum.name </td>
	        <td>$!orderUser.birthYearEnum.name </td>
	        <td>$!orderUser.career </td>
	        <td>$!orderUser.phone </td>
	        <td>$!orderUser.qq </td>
	        <td>$!orderUser.email</td>
	         #if($isCreatorSelf) 
		    	#if ($order.status != 20)
	        		<td><a href="$snowModule.setTarget('t').add('actionTarget', 'together/orderAction').add('actionEvent', 'removeUserFromOrder').add('id', $orderUser.id)" class="bnt_tg fl confirm_btn" style="margin:5px 0 5px 15px;">移除</a></td>
	        	#end
	        #end
	    </tr>
    #end
</table>