
#if ("$!order.togetherTypeEnum.value" == "2")
## 顺风车发起人类型 
	
	<li>
	    <span class="col_gray">发起人是否提供车：</span>$order.creatorCarOwnerTypeEnum.name
	</li>
	
	#if ("$!order.creatorCarOwnerType" == "1")
	## 显示车牌号
		<li>
		    <span class="col_gray">车牌号：</span>$!order.carNo
		</li>
	#end
	
#end
<li>
    <span style="width:48%" class="fl dis">
        <span class="col_gray">出发时间：</span>$!dateUtil.formatFullDate($order.fromTime)
    </span>
    <span style="width:48%" class="fl dis">
        <span class="col_gray">预计到达时间：</span>$!dateUtil.formatFullDate($order.arriveTime)
    </span>
</li>
<li>
    <span class="col_gray">参加人数/总座位数：</span> $!joinersCount/$!order.totalSeats
    <span class="color_gray">人 </span>
</li> 
<li>
    <span class="col_gray">途径：</span>$!order.approach
</li> 
<li style="line-height:20px;">
    <div class="col_gray fl">备注：</div>
	<div class=" fl">
		$!{order.description}
	</div>
</li>
<li>
    <div class="details_tip">
        提示:请确保您发布信息无误，拼车前请务必了解对方身份；为了您的安全，请认真阅读
        <a href="#" class="font_12_b text_drakgreen">《拼车注意事项》</a>
    </div>
</li>      