#set($renderMessage = '系统错误!')

#if ("$!errorMessage.message" != "") 
	#set($renderMessage = $!errorMessage.message)
#end

#if ("$!errorMessage" != "") 
	#set($renderMessage = $!errorMessage)
#end

#if ("$!message" != "") 
	#set($renderMessage = $!message)
#end

<div id="cArea"><!--content begin-->
	<div class="cbox"><!--cbox begin-->
		<div class="create_box font_14_b col_gray" style="margin-bottom: 15px;margin-top:30px">
            	<img src="$imgServer/emblem.png" border="0" height="90" width="100" class="fl"/>
                <div class="fl" style="padding:30px 10px;">
                	$!renderMessage
                    <a href="$snowModule.setTarget('index')" class="text_drakgreen">[返回首页]</a>
                </div>
		</div>
	</div><!--cbox end-->
</div><!--content end-->