
<div id="cArea"><!--content-1 begin-->
    <div class="search_box"><!--search begin-->
    	<div class="search_t"></div>
        <div class="search_form">

        	<form action="$snowModule.setTarget('search/searchOrder')" method="get" name="search">
                <ul>
                <li>
                <label for="inp_name">城市：</label>
				<p>
				<input class="input_95" name="fromCity" value="$!{selectedCity.name}" type="text"/>        
                </p>
                </li>

                <li>
                <label for="inp_name">地点：</label>
				<p>
				<input class="input_95" name="fromAddr" type="text" /> 
				到
				<input class="input_95" name="arriveAddr" type="text"/>
				</li>
                
                <li>
                <label for="inp_name">日期：</label>
				<p>
				<input type="text" class="input_95 date-pick"  name="fromTime_None" value="$!dateUtil.formatDate($defaultSearchDate, 'yyyy-MM-dd')" />
                </p>
                </li>
                
                <li>
                <div style="display: block;">
                	<div class="search_tip">
                		<span style="display:none">
                			<img src="$imgServer/ico_tip.gif" align="absmiddle" border="0" />
                		</span>
                	</div>
                </div>
                <button type="submit" class="but_search fr"></button>
                </li>
                
                
                </ul>
            </form>
        </div>
        <div class="search_b"></div>
    </div><!--search end-->
    <div class="Focus_pic"  id="flashcontent01"><!--Focus_pic begin-->
    <img src="$imgServer/Focus_pic/4-3-1.jpg" border="0" />
    </div><!--Focus_pic begin-->
</div><!--content-1 end-->

<div class="hr_6"></div>
<div id="cArea"><!--content-2 begin-->

	#if ($!recentTaxiOrders && !$!recentTaxiOrders.empty)
		<div class="newcar_t">
	   		<div class="newcar_title">拼出租车</div>
		    <div class="but_release" style="text-align:right; line-height:35px;>
				<span class="col_g mr10">已有34267人发起拼出租车 <a href="$snowModule.setTarget('search/searchOrder')">更多...</a></span>
		    </div>
	    </div>
		<div class="newcar_c">
			<table width="100%" cellpadding="0" cellspacing="0">
			  <tr class="font_12_b bgc_dy">
			    <td>出发地</td>
			    <td>目的地</td>
			    <td>出发时间</td>
			    <td>操作</td>
			  </tr>
			#set($index=0)
			#foreach($order in $recentTaxiOrders)
				<tr #if( $index % 2 !=0 )class="bgc_dg" #end>
				    <td>$!order.fromCity $!order.fromAddr</td>
				    <td>$!order.arriveCity $!order.arriveAddr</td>
				    <td>$!dateUtil.formatDate($order.fromTime, 'yyyy-MM-dd HH:mm')</td>
				    <td><a href="$snowModule.setTarget('together/orderDetail').add('orderId', $order.id)" class="but_pcbg">查看详情</a></td>
				</tr>
				#set($index= $index + 1)
			#end
			</table>
		</div>
		<p>&nbsp;</p>
	#end
	
	#if ($!recentSfcOrders && !$!recentSfcOrders.empty)
		<div class="newcar_t">
	   		<div class="newcar_title">拼顺风车</div>
		    <div class="but_release" style="text-align:right; line-height:35px;>
				<span class="col_g mr10">已有36423人发起拼顺风车 <a href="$snowModule.setTarget('search/searchOrder')">更多...</a></span>
		    </div>
	    </div>
	    
		<div class="newcar_c">
			<table width="100%" cellpadding="0" cellspacing="0">
			  <tr class="font_12_b bgc_dy">
			    <td>出发地</td>
			    <td>目的地</td>
			    <td>出发时间</td>
			    <td>操作</td>
			  </tr>
			#set($index=0)
			#foreach($order in $recentSfcOrders)
				<tr #if( $index % 2 !=0 )class="bgc_dg" #end>
				    <td>$!order.fromCity $!order.fromAddr</td>
				    <td>$!order.arriveCity $!order.arriveAddr</td>
				    <td>$!dateUtil.formatDate($order.fromTime, 'yyyy-MM-dd HH:mm')</td>
				    <td><a href="$snowModule.setTarget('together/orderDetail').add('orderId', $order.id)" class="but_pcbg">查看详情</a></td>
				</tr>
				#set($index= $index + 1)
			#end
			</table>
		</div>
		<p>&nbsp;</p>
	#end

	#if ($!recentWorkOrders && !$!recentWorkOrders.empty)
		<div class="newcar_t">
	   		<div class="newcar_title">上下班拼车</div>
		    <div class="but_release" style="text-align:right; line-height:35px;>
				<span class="col_g mr10">已有5293人发起上下班拼车 <a href="$snowModule.setTarget('search/searchOrder')">更多...</a></span>
		    </div>
	    </div>
		<div class="newcar_c">
			<table width="100%" cellpadding="0" cellspacing="0">
			  <tr class="font_12_b bgc_dy">
			    <td>出发地</td>
			    <td>目的地</td>
			    <td>上班出发时间</td>
			    <td>上班到达时间</td>
			    <td>下班出发时间</td>
			    <td>操作</td>
			  </tr>
			#set($index=0)
			#foreach($order in $recentWorkOrders)
				<tr #if( $index % 2 !=0 )class="bgc_dg" #end>
				    <td>$!order.fromCity $!order.fromAddr</td>
				    <td>$!order.arriveCity $!order.arriveAddr</td>
				    <td>$!dateUtil.formatDate($order.fromTime, 'HH:mm')</td>
				    <td>$!dateUtil.formatDate($order.arriveTime, 'HH:mm')</td>
				    <td>$!dateUtil.formatDate($order.afterWorkFromTime, 'HH:mm')</td>
				    <td><a href="$snowModule.setTarget('together/orderDetail').add('orderId', $order.id)" class="but_pcbg">查看详情</a></td>
				</tr>
				#set($index= $index + 1)
			#end
			</table>
		</div>
		<p>&nbsp;</p>
	#end
	
</div><!--content-2 end-->

<script type="text/javascript">
	$(document).ready(function(){
		$('.date-pick').datePicker({clickInput:true});
	});
</script>