首页

<form>
	验证码：<input size="4" maxlength="4" name="checkcode" value="" /> 
	$control.setTemplate('common/checkCode.vm')
	<input type="submit" value="submit!" />
</form>

$result

<br />

<a href="$snowModule.setTarget('index').add('name', '你好')">url!!</a>
