#set($pageTitle="友情链接")
$rundata.setAttribute('pageTitle', $pageTitle)

<div id="cArea"><!--content-2 begin-->
	<div class="cbox"><!--left end-->
		<div>
			<div>
				<a href="http://www.5454.com/" target="_blank" title="名品汇品牌折扣大全">名品汇</a>
			</div>
			<div class="cl"></div> 
		</div>
	</div>
</div><!--content-2 end-->