#set($form = $formFactory.createForm("login"))

#macro(errorMessageLogin, $str)
	#if( "$!str" != "")
		 <div style="clear:both; margin:5px 0 0 55px; width:200px;" class="error-tip">
            ${str}
        </div>
	#end
#end

<div id="cArea">
    <div class="loginbox">
        <div class="login_t"></div>
        
        <div class="login_c">
        <Div class="hr_310"></Div>
        	<form action="" method="post">
        		<input type="hidden" name="login" value="$tokenUtil.token('login')" />
				<input type="hidden" name="actionTarget" value="login_action.htm" />
				<input type="hidden" name="actionEvent" value="login" />
            	<div class="field">
            		<span style="font-size:14px;">用户名：</span><input type="text" class="input_230" name="$form.fields.username.name" value="$!form.fields.username.value"/>
            	</div>
				#errorMessageLogin($!form.fields.username.message)
				
				
                <div class="field">
                	<span style="font-size:14px;">密&nbsp;&nbsp;码：</span><input type="password" class="input_230" name="$form.fields.password.name" value="$!form.fields.password.value" />
                </div>
                #errorMessageLogin($!form.fields.password.message)
                
                
                #errorMessageLogin($!csrfmessage)
				#errorMessageLogin($!resultmessage.message)  
                <div class="safe">
	                <button type="submit" class="but_login" ></button>
	                <a href="#">忘记密码</a>
                </div>
            </form>
            <div class="hr_10"></div>
            <Div class="hr_310"></Div>
            <div class="hr_10"></div>
            <div style="text-align:center; margin-bottom:10px;">您还不是本站会员？  <a href="$snowModule.setTarget('user/reg')">免费注册会员</a></div>
        </div>
        <div class="login_b"></div>
        <div class="login_shadow"></div>
    </div>
</div>
