<div id="cArea"><!--content begin-->
	<div class="cbox"><!--cbox begin-->
		<div class="create_box font_14_b col_gray" style="margin-bottom: 15px;margin-top:30px">
            	<img src="$imgServer/emblem.png" border="0" height="90" width="100" class="fl"/>
                <div class="fl" style="padding:30px 10px;">
                    上下班拼车正在建设中，敬请期待……
                    &nbsp;&nbsp;&nbsp;
                    你可以
                    <a href="$snowModule.setTarget('index')" class="text_drakgreen">[返回首页]</a>
                    <a href="$snowModule.setTarget('together/createOrder')" class="text_drakgreen">[创建拼车]</a>
                </div>
		</div>
	</div><!--cbox end-->
</div><!--content end-->