
<div id="cArea"><!--content-1 begin-->
    <div class="search_box"><!--search begin-->
    	<div class="search_t"></div>
        <div class="search_form">

        	<form action="$snowModule.setTarget('search/searchOrder')" method="get" name="search">
                <ul>
                <li>
                <label for="inp_name">城市：</label>
				<p>
				<input class="input_95" name="fromCity" value="$!{selectedCity.name}" type="text"/>        
                <a href="$snowModule.setTarget('city/cityList')" >切换城市</a>
                </p>
                </li>

                <li>
                <label for="inp_name">地点：</label>
				<p>
				<input class="input_95" name="fromAddr" type="text" /> 
				到
				<input class="input_95" name="arriveAddr" type="text"/>
				</li>
                
                <li>
                <label for="inp_name">日期：</label>
				<p>
				<input type="text" class="input_95 date-pick"  name="fromTime_None" value="$!dateUtil.formatDate($defaultSearchDate, 'yyyy-MM-dd')" />
                </p>
                </li>
                
                <li>
                <div style="display: block;">
                	<div class="search_tip">
                		<span style="display:none">
                			<img src="$imgServer/ico_tip.gif" align="absmiddle" border="0" />
                		</span>
                	</div>
                </div>
                <button type="submit" class="but_search fr"></button>
                </li>
                
                
                </ul>
            </form>
        </div>
        <div class="search_b"></div>
    </div><!--search end-->
    <div class="Focus_pic"  id="flashcontent01"><!--Focus_pic begin-->
    
<script type="text/javascript">	
					var speed = 4000;		
					var pics='$imgServer/Focus_pic/4-3-1.jpg|$imgServer/Focus_pic/4-3-2.jpg';	
					var mylinks='http://www.yiliangche.com/|http://www.yiliangche.com/';
					var texts='绿色出行，同上一两车|绿色出行，同上一两车';
					var sohuFlash2 = new sohuFlash("$flashServer/focus0414a.swf","flashcontent01","630","275","8","#ffffff");

sohuFlash2.addParam("quality", "medium");
sohuFlash2.addParam("wmode", "opaque");						sohuFlash2.addVariable("speed",speed);
						sohuFlash2.addVariable("p",pics);	
						sohuFlash2.addVariable("l",mylinks);
						sohuFlash2.addVariable("icon",texts);
						sohuFlash2.write("flashcontent01");
					</script>
    </div><!--Focus_pic begin-->
</div><!--content-1 end-->

<div class="hr_6"></div>
<div id="cArea"><!--content-2 begin-->
<div class="newcar_t">
    <div class="newcar_title">最新拼车</div>
	    <div class="but_release">
	    </div>
    </div>
	<div class="newcar_c">
	<table width="100%" cellpadding="0" cellspacing="0">
	  <tr class="font_12_b bgc_dy">
	    <td>城市</td>
	    <td>出发地</td>
	    <td>目的地</td>
	    <td>发车时间</td>                         
	    <td>预计到达时间</td>
	    <td>发起人</td>
	    <td>操作</td>
	  </tr>
	#set($index=0)
	#foreach($order in $recentOrders)
		<tr #if( $index % 2 !=0 )class="bgc_dg" #end>
		    <td>$!order.fromCity</td>
		    <td>$!order.fromAddr</td>
		    <td>$!order.arriveAddr</td>
		    <td>$!dateUtil.formatDate($order.fromTime, 'yyyy-MM-dd HH:mm')</td>
		    <td>$!dateUtil.formatDate($order.arriveTime, 'yyyy-MM-dd HH:mm')</td>
		    <td>$!order.creatorUsername</td>
		    <td><a href="$snowModule.setTarget('together/orderDetail').add('orderId', $order.id)" class="but_pcbg">查看详情</a></td>
		</tr>
		#set($index= $index + 1)
	#end
</table>

</div>
<!--
<div class="newcar_b"><div class="newcar_b_bg"></div></div>
-->
</div><!--content-2 end-->

<script type="text/javascript">
	$(document).ready(function(){
		$('.date-pick').datePicker({clickInput:true});
	});
</script>
