
<div id="cArea"><!--content-1 begin-->
    <div class="search_box"><!--search begin-->
    	<div class="search_t">
    	<button onclick="location.href='$snowModule.setTarget('together/createTaxiOrder')'" class="but_built" onMouseDown="this.className='but_built'" onmouseover="this.className='but_built_h'" onmouseup="this.className='but_built_h'" onMouseOut="this.className='but_built'"></button></div>
        <div class="search_form">

        	<form action="$snowModule.setTarget('search/searchOrder')" method="get" name="search">
                <ul>
                <li>
                <label for="inp_name">城市：</label>
				<p>
				<input class="input_95" name="fromCity" value="$!{selectedCity.name}" type="text" onMouseDown="this.className='input_95'" onmouseover="this.className='input_on'" onmouseup="this.className='input_on'" onMouseOut="this.className='input_95'"/>        
                <a href="$snowModule.setTarget('city/cityList')" >切换城市</a>
                </p>
                </li>

                <li>
                <label for="inp_name">地点：</label>
				<p>
				<input class="input_95" name="fromAddr" type="text" /> 
				到
				<input class="input_95" name="arriveAddr" type="text"/
                </li>
                
                <li>
                <label for="inp_name">发车时间：</label>
				<p>
				<input type="text" id="J_goDate" name="it" readonly="readonly" value="$!dateUtil.formatDate($defaultSearchDate, 'yyyy-MM-dd')" 
				 class="input_95" />
				 
				#set($selectedHour = $dateUtil.getHour($defaultSearchDate))
				#set($hours = [1 .. 24])
				<select name="fcsj2">
					#foreach ($hour in $hours)
						<option value="$hour" #if ("$!selectedHour" == "$!hour") selected #end>$hour时</option>
					#end
                </select>
                #set($minuteIndice = [0 .. 4])
                <select name="fcsj3">
                	#foreach($minuteIndex in $minuteIndice)
                		#set($minute = $minuteIndex * 15)
						<option value="$minute" #if("$!defaultSearchMinutes" == "$!minute") selected #end>$minute分</option>
					#end
                </select>
                </p>
                </li>
                <li>
                
                <div style="display: block;">
                	<div class="search_tip">
                		<span style="display:none">
                			<img src="$imgServer/ico_tip.gif" align="absmiddle" border="0" />
                		</span>
                	</div>
                </div>
                
                <button type="submit" class="but_search" onMouseDown="this.className='but_search'" onmouseover="this.className='but_search_h'" onmouseup="this.className='but_search_h'"  onMouseOut="this.className='but_search'"></button>
                </li>
                </ul>
				
            </form>
        </div>
        <div class="search_b"></div>
    </div><!--search end-->
    <div class="Focus_pic"  id="flashcontent01"><!--Focus_pic begin-->
    
<script type="text/javascript">	
					var speed = 4000;		
					var pics='$imgServer/Focus_pic/1.jpg|$imgServer/Focus_pic/2.jpg|$imgServer/Focus_pic/3.jpg|$imgServer/Focus_pic/4.jpg';	
					var mylinks='http://www.yiliangche.com/|http://www.yiliangche.com/|http://www.yiliangche.com/|http://www.yiliangche.com/';
					var texts='世乒赛-王皓横扫王励勤首度称王|世乒赛女单决赛 张怡宁4-2郭跃夺冠|姚明带伤战胜湖人 小巨人主宰比赛|NBA演义第18回：休城谁最“MAN”？';
					var sohuFlash2 = new sohuFlash("$imgServer/focus0414a.swf","flashcontent01","630","275","8","#ffffff");

sohuFlash2.addParam("quality", "medium");
sohuFlash2.addParam("wmode", "opaque");						sohuFlash2.addVariable("speed",speed);
						sohuFlash2.addVariable("p",pics);	
						sohuFlash2.addVariable("l",mylinks);
						sohuFlash2.addVariable("icon",texts);
						sohuFlash2.write("flashcontent01");
					</script>
    </div><!--Focus_pic begin-->
</div><!--content-1 end-->

<div class="hr_6"></div>
<div id="cArea"><!--content-2 begin-->
<div class="newcar_t">
    <div class="newcar_title">最新拼车</div>
	    <div class="but_release">
	    	<a href="$snowModule.setTarget('together/createTaxiOrder')" class="but_fbpc" title="发布拼的">发布拼的</a>
	    	<span class="newcar_txt">已经有500人发起拼车 <a href="#">查看更多拼车信息</a></span>
	    </div>
    </div>
	<div class="newcar_c">
	<table width="100%" cellpadding="0" cellspacing="0">
	  <tr class="font_12_b bgc_dy">
	  	<td>编号</td>
	    <td>城市</td>
	    <td>出发地</td>
	    <td>目的地</td>
	    <td>发车时间</td>                         
	    <td>空余座位</td>
	    <td>发起时间</td>
	    <td>发起人</td>
	    <td>加入拼车</td>
	  </tr>
	#set($index=0)
	#foreach($order in $recentOrders)
		<tr #if( $index % 2 !=0 )class="bgc_dg" #end>
			<td>010</td>
		    <td>$!order.fromCity</td>
		    <td>$!order.fromAddr</td>
		    <td>$!order.arriveAddr</td>
		    <td>$dateUtil.formatDate($order.fromTime, 'yyyy-MM-dd HH:mm')</td>
		    <td>2</td>
		    <td>$dateUtil.formatDate($order.arriveTime, 'yyyy-MM-dd HH:mm')</td>
		    <td>$!order.creatorUsername</td>
		    <td><a href="$snowModule.setTarget('together/orderDetail').add('orderId', $order.id)" class="but_jrpc">查看详情</a></td>
		</tr>
		#set($index= $index + 1)
	#end
</table>

</div>
<!--
<div class="newcar_b"><div class="newcar_b_bg"></div></div>
-->
</div><!--content-2 end-->


<link type="text/css" href="${jsServer}/jquery/jquery.datepick.package-4.0.3/jquery.datepick.css" rel="stylesheet" />
<script type="text/javascript" src="${jsServer}/jquery/jquery-1.5.1.js"></script>
<script type="text/javascript" src="${jsServer}/jquery/jquery.datepick.package-4.0.3/jquery.datepick.js"></script>
<script type="text/javascript" src="${jsServer}/jquery/jquery.datepick.package-4.0.3/jquery.datepick-zh-CN.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('#J_goDate').datepick({dateFormat: 'yyyy-mm-dd'}); 
	});
</script>