#set($form = $formFactory.createForm("feedback.leaveWord"))

#macro(errorMessageForLeaveWorld, $str)
	#if( "$!str" != "")
		<div class="leave-word-error" style="color:#f00;font-weight: bold;">${str}</div>
	#end
#end

<div id="cArea"><!--content begin-->
	<div class="cbox">

    	<div class="create_suc font_14_b col_g" >
        	我们的成长离不开您的建议，非常感谢您给我们留言。
        </div>
        
        <div style=" margin:0 auto; width:80%;">
        <form method="post" style="margin-bottom: 20px;">
				<input type="hidden" name="actionEvent" value="leaveWord" /> 
				<input type="hidden" name="actionTarget" value="feedbackAction" />
                
                 <div class="leave-word-field">
                 	<div class="fl">
			        	<label for="$!form.fields.nick.name"><em class="col_r">&nbsp;</em> 您的称呼：</label>
                    </div>
			        <div class="fl">
			        	<input id="$!form.fields.nick.name" size="30" maxlength="30" name="$form.fields.nick.name" value="$!form.fields.nick.value" type="text" class="input_95"/>
			        	#errorMessageForLeaveWorld($!form.fields.nick.message)
			        </div>
			    </div>
			
				<div class="leave-word-field">
                	<div class="fl">
			        	<label for="$!form.fields.contact.name"><em class="col_r">&nbsp;</em> 联系方式：</label>
                    </div>
			        <div class="fl">
			        	<input id="$!form.fields.contact.name" size="30" maxlength="30" name="$form.fields.contact.name" value="$!form.fields.contact.value" type="text" class="input_95"/>
			        	#errorMessageForLeaveWorld($!form.fields.contact.message)
			        </div>
			    </div>
				
				<div class="leave-word-field">
                	<div class="fl">
                        <label for="$!form.fields.content.name">
                            <em class="col_r">*</em> 留言内容：
                        </label>
                    </div>
			        <div class="fl">
			        	<textarea id="$!form.fields.content.name" name="$!form.fields.content.name" cols="60" rows="10">$!form.fields.content.value</textarea>
                        <p class="col_gray">
                        （请限制在500字之内）
                        </p>
			            <p>
			            	#errorMessageForLeaveWorld($!form.fields.content.message)
			            </p>
			        </div>
			    </div>
			
				<div class="leave-word-field">
                	<div class="fl">
			    		<label for="$!form.fields.checkCode.name">
                        	<em class="col_r">*</em> 验 证 码：
                        </label>
                    </div>
			    	<div class="fl">
			        	<p>
			        	<input id="$!form.fields.checkCode.name" size="6" maxlength="4" name="$form.fields.checkCode.name" value="$!form.fields.checkCode.value" type="text" class="input_city"/>$control.setTemplate('common/checkCode.vm')
			        	
			        	</p>
			        	<p>
			        	#errorMessageForLeaveWorld($!form.fields.checkCode.message)
			        	</p>
			    	</div>
			    </div>
			    
                <div class="leave-word-field" style="padding-left:75px;">
                    #errorMessageForLeaveWorld($!csrfmessage)
                    #errorMessageForLeaveWorld($!resultmessage.message)

                    <p>
                        <button type="submit" class="but_g_bg">
                            <span class="font_14_b">提交</span>
                        </button>
                    </p>
                </div>
				
			</form>
           </div>
	</div>
</div><!--content end-->
