<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#set($title = $rundata.getAttribute('pageTitle'))
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
	<title>
	#if("$!title" == "") 绿色出行， 同上一辆车！ 一辆车拼车网 ，全国最大的拼车网
	#else	$title	#end
	</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	#if("$title" == "")
	<meta name="description" content="一辆车拼车网，全国最大的拼车网，提供拼的士，顺风车，上下班拼车等拼车服务！" />
	#else	
	<meta name="description" content="$!title [一辆车拼车网]" />
	#end
	<meta name="keywords" content="拼车,一辆车,绿色出行,顺风车,低碳,便捷,同城拼车,城际拼车,打的,拼的,汽油,汽车,节能,可持续,$!pageTitle" />
	<link rel="shortcut icon" href="$imgServer/favicon.ico" type="image/x-icon" /> 
	<link type="text/css" href="$cssServer/datePicker.css" rel="stylesheet" />
	<link  type="text/css" href="$cssServer/main.css?t=20110409.css" rel="stylesheet"/>
	<script type="text/javascript" src="${jsServer}/jquery/jquery-1.5.1.min.js?t=20110323.js"></script>
	<script type="text/javascript" src="${jsServer}/jquery/jquery-datePicker.js?t=20110323.js"></script>
</head>

<body>
<div id="header"><!--top begin-->
<div class="logo"><a href="$snowModule.setTarget('index')" title="绿色出行，同上一辆车">一辆车</a></div>
	$control.setTemplate('common/citySelected.vm')
</div>

<div class="top_r">
<p><a href="#">帮助中心</a></p>
$control.setTemplate('common/userInfo.vm')
</div>

<div class="miannav"><!--nav begin-->
    <div class="fl nav_l"></div>
    <div class="fl nav_c">
    	#set($currentPage = "$!current_screen_module.target")
        <ul>
        	<li><a href="$snowModule.setTarget('/index')" #if($currentPage == "/index") class="on" #end>首 页</a></li>
        </ul>
      <div class="fr but_cjpc-s"><a href="$snowModule.setTarget('together/createOrder')">创建拼车</a></div>
    </div>
    <div class="fl nav_r"></div>
</div><!--nav end-->
<script type="text/javascript">
ldh={
    get:function (el){
        return typeof el=="string"?document.getElementById(el):el;
    },
    on:function(el,type,fn){
        el=this.get(el);
        el.attachEvent?
        el.attachEvent('on'+type,function(){fn.call(el,event)}):
        el.addEventListener(type,fn,false);
        return this
    },
    align:function (el,el2,x,y){
       var rect=this.get(el2).getBoundingClientRect(),x=x||0,y=y||0;
        el.style.top=rect.top+this.get(el2).offsetHeight+y+'px';
        el.style.left=rect.left+x+'px'
    },
   stop:function (e){
   		try {
	        e=e||window.event;
	        e.stopPropagation&&e.stopPropagation();
	        e.cancelBubble=true;
        }catch(ex){
        	location.href="$snowModule.setTarget('city/cityList')";
        }
    },
    onblur:function(el,fn) {
        el=this.get(el);
        this.on(el,'click',function (e){
            ldh.stop()
        }).on(document, 'click',function(e) {
            el.style.display='none';
        });
        return this
    }
};
ldh.onblur('menu').on('menuBtn','click',function (){
    var css=ldh.get('menu').style;
    if(css.display!='none')return ;
    ldh.align(ldh.get('menu'),this,-150,0);
    css.display= 'block';
    ldh.stop();
})
</script>

</div><!--top end-->
<div class="hr_6"></div>

$screen_content

<div class="hr_6"></div>
	$control.setTemplate('common/footer.vm')
</body>
</html>

