<div class="details_r">
	<ul>
		<li>
			<strong>联系人：</strong>$!creator.realName
		</li>
		<li>
			<strong>性别：</strong>$!creator.sexEnum.name
		</li>
		<li>
			<strong>年龄段：</strong>$!creator.birthYearEnum.name
		</li>
		<li>
			<strong>职业：</strong>$!creator.career
		</li>
		
		#if ($showContactInfo)
		<li>
			<strong>手机：</strong>$!creator.phone
		</li>
		<li>
			<strong>QQ号：</strong>$!creator.qq
		</li>
					
		#else
			<li>登陆即可查看车主的联系方式 
			<input class="login_btn" id="J_login_for_view" type="button" value="登陆查看" name="login" tabindex="3"/></li>
		#end
	</ul>
	
        <!-- 分享功能 JiaThis Button BEGIN -->
        <div id="jiathis_style_32x32">
        	<!-- <a class="jiathis_button_qzone"></a> 有问题 -->
        	<a class="jiathis_button_tsina"></a>
        	<a class="jiathis_button_tqq"></a>
        	<a class="jiathis_button_kaixin001"></a>
        	<a class="jiathis_button_renren"></a>
        </div>
        
		<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js" charset="utf-8"></script>
        <!-- JiaThis Button END -->

	</div>