<li>
    <h1>
    	<img src="$imgServer/car.png" width="71" height="48" border="0" align="absmiddle" />
       	 【拼的士】
       	 <span class="col_g">$!{order.fromCity}$!{order.fromAddr} </span>
       	 &rarr;
       	 <span class="col_g">$!{order.arriveCity}$!{order.arriveAddr} </span>
    </h1>
</li>
<li>
    <strong>拼车类型：</strong>$!order.togetherTypeEnum.name
</li>
#if ("$!order.togetherTypeEnum.value" == "2")
## 顺风车发起人类型 
	
	<li>
	    <span class="col_gray">发起人是否提供车：</span>$order.creatorCarOwnerTypeEnum.name
	</li>
	
	#if ("$!order.creatorCarOwnerType" == "1")
	## 显示车牌号
		<li>
		    <span class="col_gray">车牌号：</span>$!order.carNo
		</li>
	#end
	
#end
<li>
    <span style="width:48%" class="fl dis">
        <span class="col_gray">出发时间：</span>$!dateUtil.formatFullDate($order.fromTime)
    </span>
    <span style="width:48%" class="fl dis">
        <span class="col_gray">预计到达时间：</span>$!dateUtil.formatFullDate($order.arriveTime)
    </span>
</li>
<li>
    <span class="col_gray">参加人数/总座位数：</span> $!joinersCount/$!order.totalSeats
    <span class="color_gray">人 </span>
</li> 
<li>
    <span class="col_gray">途径：</span>$!order.approach
</li> 
<li>
    <span class="col_gray">描述：</span><span style="line-height:20px;">$!{order.description}</span>
</li>
<li>
    <div class="details_tip">
        提示:请确保您发布信息无误，拼车前请务必了解对方身份；为了您的安全，请认真阅读
        <a href="#" >《拼车注意事项》</a>
    </div>
</li>      