<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE beans PUBLIC
    "-//SPRING//DTD BEAN//EN"
     "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<import resource="beans/biz-ao.xml" />
	<import resource="beans/biz-bo.xml" />
	<import resource="beans/biz-dao.xml" />
	<import resource="beans/persistence.xml" />
	<import resource="beans/biz-config-services.xml" />
	<import resource="beans/${datasource.config.file}" />
	<import resource="beans/biz-captcha.xml" />
	<import resource="beans/biz-cache.xml" />
	
</beans>
