<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE beans PUBLIC
    "-//SPRING//DTD BEAN//EN"
     "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
 	
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:sql-map.xml</value>
		</property>
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
</beans>
