<div class="city">
	<h2>$!selectedCity.name</h2>
	<div id="menuBtn" style="cursor:pointer" title="城市切换"><a href="#" >切换城市</a></div>
	<div id="menu" style="display:none;">
    <ul>
    #foreach($city in $hotCities)
    	<li #if("$!selectedCity.id" == "$!city.id") class="focus" #end ><a href="$snowModule.setTarget('t').add('actionTarget', 'city/switchCityAction').add('actionEvent', 'switchCity').add('cityId', $city.id)">$city.name</a></li>
    #end
    </ul>
    <div class="menufoot"><a href="$snowModule.setTarget('city/cityList')" >更多城市...</a></div>
</div>
