#if("$!username" == "")
<p>您好，欢迎来到一辆车！[<a href="$snowModule.setTarget('login')">请登录</a>] [<a href="$snowModule.setTarget('user/reg')">免费注册</a>]</p>
#else 
<p>您好<strong>$username</strong>，欢迎来到一辆车！[<a href="$snowModule.setTarget('profile/myTogethers')">我的拼车</a>] | [<a href="$snowModule.setTarget('loginOut')">退出登录</a>] </p>
#end