<div id="cArea"><!--content begin-->

<div class="index_search">
    <form action="" method="get">
        出发地： <input class="input_95" name="fromAddr" type="text" value="$!rundata.getQueryString().getString("fromAddr")"/>
        目的地：<input class="input_95" name="arriveAddr" type="text" value="$!rundata.getQueryString().getString("arriveAddr")"/> 
        出发时间：<input class="input_95" id="J_fromTime" name="fromTime" type="text" value="$!rundata.getQueryString().getString("fromTime")"/> 
    <button type="submit" class="but_search" onMouseDown="this.className='but_search'" onmouseover="this.className='but_search_h'" onmouseup="this.className='but_search_h'"  onMouseOut="this.className='but_search'">
    </button>
    </form>
    <span>共找到 $!{numFound} 条记录</span> 
</div>
<div class="list_box"><!--列表 begin-->
    <ul>
    	#foreach($order in $orders)
	        <li>
	            <h1>
	            	<div class="but_ckxq">
	                	<a href="$snowModule.setTarget('together/orderDetail').add('orderId', $order.id)" class=" col_g" target="_blank">查看详情...</a>
	                </div>
	                <img src="$imgServer/car_1.png" width="55" height="30" border="0" align="absmiddle"/>
	                <a href="$snowModule.setTarget('together/orderDetail').add('orderId', $order.id)" target="_blank"><span class="col_g">从 $!{order.fromCity} $!{order.fromAddr} 到 $!{order.arriveCity} $!{order.arriveAddr}</span></a>
	            </h1>
	            <div class="hr_2"></div>
	            <p>
	                <span class="color_gray">发起人：</span> $!{order.creatorRealName} &nbsp;&nbsp;&nbsp;&nbsp;
	                <span class="color_gray">总座位数：</span> $!{order.totalSeats} &nbsp;&nbsp;&nbsp;&nbsp;
	                <span class="color_gray">出发时间：</span> $!dateUtil.formatFullDate($!order.fromTime)
	            </p>
	            <p>
	                <span class="color_gray">途径：</span> $!{order.approach}
	            </p>
	            <p>
	                <span class="color_gray">备注：</span> $!{order.description}
	            </p>
	
	        </li>
        #end
        
    </ul>
    
    <div class="page">
    	
    	$control.setTemplate('common/searchPagination.vm').add('query', $searchOrderQuery).add('pageFacerName', 'orderSearchPageFacer')
    
    </div>
</div><!--列表 end-->

</div><!--content end-->

<script type="text/javascript">
	$(document).ready(function(){
		$('#J_fromTime').datepick({dateFormat: 'yyyy-mm-dd'}); 
	});
</script>