<div id="cArea"><!--content-2 begin-->
<div class="cbox">
    <div class="cutbread"><strong>当前位置：</strong><a href="$snowModule.setTarget('index')">首页</a> >> 出租车搜索列表页</div>
    <div class="index_search">
    <form action="" method="get">
	   	 出发地：  <input class="input_95" name="fromAddr" type="text"/>
		目的地：<input class="input_95" name="arriveAddr" type="text"/> 
		出发时间：<input class="input_95" name="" type="text"/> 
		到达时间：<input class="input_95" name="" type="text"/>
		<button type="submit" class="but_search" onMouseDown="this.className='but_search'" onmouseover="this.className='but_search_h'" onmouseup="this.className='but_search_h'"  onMouseOut="this.className='but_search'"></button>
	</form>
    </div>
    
    <div>
	    共找到$!{numFound}条记录
	</div>
	
    <div class="car_list_box">
    <table width="100%" cellpadding="0" cellspacing="0">
    	 <tr class="font_12_b bgc_dy">
		    <td>城市</td>
		    <td>出发地</td>
		    <td>目的地</td>
		    <td>发车时间</td>                         
		    <td>发起时间</td>
		    <td>发起人</td>
		    <td>加入拼车</td>
		  </tr>
    	#set($index=1)
    	#foreach($order in $orders)
    		<tr #if($index % 2 == 0) class="bgc_dg" #end >
		    <td>$order.fromCity</td>
		    <td>$order.fromAddr</td>
		    ## $order.arriveCity
		    <td>$order.arriveAddr</td>
		    <td>发车时间</td>                         
		    <td>发起时间</td>
		    <td> $order.creatorUsername</td>
		    <td>加入拼车</td>
		  </tr>
		  
		  #set($index=$index + 1)
		#end
</table>
    </div>
<div class="hr_10"></div>
</div></div><!--content-2 end-->