<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>绿色出行-同上一辆车</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="$cssServer/main.css" rel="stylesheet" type="text/css" />
<link href="$cssServer/datePicker.css" rel="stylesheet" type="text/css"  />
<script src="$jsServer/sohuflash_1.js" type="text/javascript"></script>
<script src="$jsServer/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="$jsServer/jquery.datePicker-min.js" type="text/javascript"></script>

<script type="text/javascript">
$(window).ready(function(){

$('.date-pick').datePicker({clickInput:true});
});

function showAndHide(obj,types){
    var Layer=window.document.getElementById(obj);
    switch(types){
  case "show":
    Layer.style.display="block";
  break;
  case "hide":
    Layer.style.display="none";
  break;
}
  }
  function getValue(obj,str){
    var input=window.document.getElementById(obj);
input.value=str;
  }
</script>
</head>

<body>
<div id="header"><!--top begin-->
<div class="logo"><a href="index.html" title="一辆车——要上就上一辆车">一辆车</a></div>
	$control.setTemplate('common/citySelected.vm').addAttribute('selectedCity', $selectedCity)
</div>

<div class="nav_login" id="nav_login">
<form id="loginForm" name="loginForm" method="post" action="$snowModule.setTarget('login')" target="_self" onsubmit="return checkdata();">
<ul>
<li>用户名:<input class="login_input" type="text" id="userName" name="userName" tabindex="1"/><label class="auto_login"><span title=一个月内记住用户名、密码自动登录。><input id="auto_login" type="checkbox" name="autoLogin" value="1" checked="checked"/>自动登录</label></span><a href="#" target="_blank">找回密码</a></li>
<li>密&nbsp;&nbsp;码:<input class="login_input" type="password" name="userPass" id="userPass" tabindex="2"/><input class="login_btn" type="submit" value="立即登录" name="login" id=login tabindex="3"/><a href="$snowModule.setTarget('user/reg')" >免费注册</a></li></ul>
</form></div>
<div class="miannav"><!--nav begin-->
    <div class="fl nav_l"></div>
    <div class="fl nav_c">
        <ul>
        <li><a href="$snowModule.setTarget('index')">首 页</a></li>
        <li><a href="$snowModule.setTarget('index')" class="on">拼的士</a></li>
        <li><a href="#">城际拼车</a></li>
        <li><a href="#">上下班拼车</a></li>
        </ul>
      <div class="fr but_personal"><a href="$snowModule.setTarget('user/myTogethers')">我的拼车</a></div>
    </div>
    <div class="fl nav_r"></div>
</div><!--nav end-->
<script type="text/javascript">
//<![CDATA[
ldh={
    get:function (el){
        return typeof el=="string"?document.getElementById(el):el;
    },
    on:function(el,type,fn){
        el=this.get(el);
        el.attachEvent?
        el.attachEvent('on'+type,function(){fn.call(el,event)}):
        el.addEventListener(type,fn,false);
        return this
    },
    align:function (el,el2,x,y){
       var rect=this.get(el2).getBoundingClientRect(),x=x||0,y=y||0;
        el.style.top=rect.top+this.get(el2).offsetHeight+y+'px';
        el.style.left=rect.left+x+'px'
    },
   stop:function (e){
        e=e||window.event;
        e.stopPropagation&&e.stopPropagation();
        e.cancelBubble=true
    },
    onblur:function(el,fn) {
        el=this.get(el);
        this.on(el,'click',function (e){
            ldh.stop()
        }).on(document, 'click',function(e) {
            el.style.display='none';
        });
        return this
    }
};
ldh.onblur('menu').on('menuBtn','click',function (){
    var css=ldh.get('menu').style;
    if(css.display!='none')return ;
    ldh.align(ldh.get('menu'),this,-150,0);
    css.display= 'block';
    ldh.stop();
})
 //]]>
</script>

</div><!--top end-->
<div class="hr_6"></div>

$screen_content

<div class="hr_6"></div>
<div id="footer"><!--footer begin-->
<p>		
	<a href="#">关于我们</a> | 
 	<a href="#">联系我们</a> | 
 	<a href="#">拼车须知</a> | 
  	<a href="#">友情链接</a> |
	<a href="http://yiliangche.uueasy.com/" target="_blank">用户论坛</a> |
	<a href="#">意见反馈</a>
</p> 
<p>杭州爱福韵网络技术有限公司  Copyright@2011 All Rights Reserved.</p>
<p>浙ICP备11006974号 </p>
</div><!--footer end-->
</body>
<script type="text/javascript" src="http://js.tongji.linezing.com/2319746/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/2319746/tongji.gif"/></a></noscript>
</html>

