<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
	<title>绿色出行， 同上一辆车！ 一辆车拼车网 ，全国最大的拼车网</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta name="description" content="一辆车拼车网，全国最大的拼车网，提供拼的士，城际拼车，长途拼车，上下班拼车等拼车服务！" />
	<meta name="keywords" content="拼车,一辆车,绿色出行,低碳,便捷,同城拼车,城际拼车,打的,拼的,汽油,汽车,节能,可持续" />
	<link rel="shortcut icon" href="$imgServer/favicon.ico" type="image/x-icon" /> 
	<link type="text/css" href="${jsServer}/jquery/jquery.datepick.package-4.0.3/jquery.datepick.css?t=20110323.css" rel="stylesheet" />
	<link  type="text/css" href="$cssServer/main.css?t=20110323.css" rel="stylesheet"/>
	<script type="text/javascript" src="${jsServer}/jquery/jquery-1.5.1.min.js?t=20110323.js"></script>
	<script type="text/javascript" src="${jsServer}/jquery/jquery.datepick.package-4.0.3/jquery.datepick.min.js?t=20110323.js"></script>
	<script type="text/javascript" src="${jsServer}/jquery/jquery.datepick.package-4.0.3/jquery.datepick-zh-CN.js?t=20110323.js"></script>
	<script type="text/javascript" src="$jsServer/sohuflash_1.js"></script>
</head>

<body>
<div id="header"><!--top begin-->
<div class="logo"><a href="index.html" title="绿色出行，同上一辆车">一辆车</a></div>
	$control.setTemplate('common/citySelected.vm')
</div>

<div class="top_r">
<p><a href="#">帮助中心</a> | <a href="#">收藏本站</a></p>
$control.setTemplate('common/userInfo.vm')
</div>

<div class="miannav"><!--nav begin-->
    <div class="fl nav_l"></div>
    <div class="fl nav_c">
    	#set($currentPage = "$!current_screen_module.target")
        <ul>
        <li><a href="$snowModule.setTarget('/index')" #if($currentPage == "/index") class="on" #end>首 页</a></li>
        <li><a href="$snowModule.setTarget('/taxi-index')" #if($currentPage == "/taxi-index") class="on" #end>拼的士</a></li>
        <li><a href="$snowModule.setTarget('/inter-city-index')" #if($currentPage == "/inter-city-index") class="on" #end>城际拼车</a></li>
        <li><a href="$snowModule.setTarget('/rush-hour-index')" #if($currentPage == "/rush-hour-index") class="on" #end>上下班拼车</a></li>
        </ul>
      <div class="fr but_personal"><a href="$snowModule.setTarget('user/myTogethers')">我的拼车</a></div>
    </div>
    <div class="fl nav_r"></div>
</div><!--nav end-->
<script type="text/javascript">
ldh={
    get:function (el){
        return typeof el=="string"?document.getElementById(el):el;
    },
    on:function(el,type,fn){
        el=this.get(el);
        el.attachEvent?
        el.attachEvent('on'+type,function(){fn.call(el,event)}):
        el.addEventListener(type,fn,false);
        return this
    },
    align:function (el,el2,x,y){
       var rect=this.get(el2).getBoundingClientRect(),x=x||0,y=y||0;
        el.style.top=rect.top+this.get(el2).offsetHeight+y+'px';
        el.style.left=rect.left+x+'px'
    },
   stop:function (e){
   		try {
	        e=e||window.event;
	        e.stopPropagation&&e.stopPropagation();
	        e.cancelBubble=true;
        }catch(ex){
        	location.href="$snowModule.setTarget('city/cityList')";
        }
    },
    onblur:function(el,fn) {
        el=this.get(el);
        this.on(el,'click',function (e){
            ldh.stop()
        }).on(document, 'click',function(e) {
            el.style.display='none';
        });
        return this
    }
};
ldh.onblur('menu').on('menuBtn','click',function (){
    var css=ldh.get('menu').style;
    if(css.display!='none')return ;
    ldh.align(ldh.get('menu'),this,-150,0);
    css.display= 'block';
    ldh.stop();
})
</script>

</div><!--top end-->
<div class="hr_6"></div>

$screen_content

<div class="hr_6"></div>
<div id="footer"><!--footer begin-->
<p>		
	<a href="#">关于我们</a> | 
 	<a href="#">联系我们</a> | 
 	<a href="#">拼车须知</a> | 
  	<a href="#">友情链接</a> |
	<a href="http://yiliangche.uueasy.com/" target="_blank">用户论坛</a> |
	<a href="$snowModule.setTarget('feedback/leaveWord')">意见反馈</a>
</p> 
<p>
## 杭州爱福韵网络技术有限公司 
Copyright@2010-2011 All Rights Reserved.
</p>
<p><a href="http://www.miibeian.gov.cn/" target="_blank">浙ICP备11006974号</a></p>
</div><!--footer end-->

<script type="text/javascript" src="http://js.tongji.linezing.com/2319746/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/2319746/tongji.gif"/></a></noscript>
</body>
</html>

