<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>绿色出行， 同上一辆车！ 一辆车拼车网 ，全国最大的拼车网</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="$cssServer/main.css" rel="stylesheet" type="text/css" />
<link href="$cssServer/style.css" rel="stylesheet" type="text/css" />
</head>
 
<body>
<div id="index-wap">
    
    $screen_content
    
    <div class="hr_6"></div>
	$control.setTemplate('common/footer.vm')
</div>
</body>
</html>