<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#set($title = $rundata.getAttribute('pageTitle'))
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>
	#if("$!title" == "") 绿色出行， 同上一辆车！ 一辆车拼车网 ，全国最大的拼车网
	#else	$title	#end
	</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	#if("$title" == "")
	<meta name="description" content="一辆车拼车网，全国最大的拼车网，提供拼的士，顺风车，上下班拼车等拼车服务！" />
	#else	
	<meta name="description" content="$!title [一辆车拼车网]" />
	#end
	<link href="$cssServer/usercenter.css?t=20110403.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="uc_head">
	<div class="logo"><a href="$snowModule.setTarget('/index')" title="绿色出行 同上一辆车">绿色出行 同上一辆车</a></div>
    <div class="city">
		<h1>个人中心</h1>
    </div>
    <div class="blank19"></div>
    <div class="headnav">
    	<ul>
            <li>
                <a href="$snowModule.setTarget('/index')">
                	<span><strong>首页</strong></span>
                </a>
            </li>
        </ul>
    </div>
</div>

$screen_content

$control.setTemplate('common/footer.vm')

</body>
</html>
