#set($pageTitle="ĞŞ¸ÄÃÜÂë")
$rundata.setAttribute('pageTitle', $pageTitle)

#set($form = $formFactory.createForm("user.changePwd"))

#macro(errorMessageChangPwd, $str)
	#if( "$!str" != "")
		<p class="color_gray error-tip">
			$str
		</p>
	#end
#end

<div id="cArea">
  <div class="hr_10"></div>
    
    $control.setTemplate('profile/userCenterMenu.vm').addAttribute('snowUtil', $snowUtil)
	
	
	<div class="content"><!--content end-->
    	<div class="content-inner">
            <div class="pwrap"><!--pwrap-->
            	<div class="phead password-ico">
                	<h1>ĞŞ¸ÄÃÜÂë</h1>
                </div>
                <div class="pbody">
                    <div class="password">
                    	<form method="post">
						<input type="hidden" name="actionTarget" value="profile/userProfileAction" />
						<input type="hidden" name="actionEvent" value="changePwd" />
                        	<ul id="need">
                        	<li>
                                <label for=password><span class="col_r">*</span> ¾É&nbsp;&nbsp;ÃÜ&nbsp;&nbsp;Âë£º</label>
								<input type="password" name="$!{form.fields.oldPassword.name}" class="input_95"/>
                                #errorMessageChangPwd($!form.fields.oldPassword.message)
                            </li>
                            <li>
                                <label for=newpasswd><span class="col_r">*</span> ĞÂ&nbsp;&nbsp;ÃÜ&nbsp;&nbsp;Âë£º</label>
                                <input class="input_95"  type="password" name="$!{form.fields.password.name}"/>
                                #errorMessageChangPwd($!form.fields.password.message)
                            </li>
                            <li>
                                <label for=newpasswd2><span class="col_r">*</span> È·ÈÏĞÂÃÜÂë£º</label>
								<input type="password" name="$!{form.fields.confirmPassword.name}" class="input_95" />
								#errorMessageChangPwd($!form.fields.confirmPassword.message)
                            </li>
                            <li style="line-height:35px">
								#errorMessageChangPwd($!csrfmessage)
								#errorMessageChangPwd($!resultmessage.message)
                            	<INPUT class="but_g_bg font_14_b" type=submit value=ĞŞ¸ÄÃÜÂë name=changepassword>
                            </li>
                            </ul>
                        </form>
                    </div>
                    <div class=" hr_10"></div>
                </div>
            </div><!--pwrap end-->
            
    	</div>
    </div><!--content end-->

</div>
<div class="hr_6"></div>