#set($pageTitle="认证成功")
$rundata.setAttribute('pageTitle', $pageTitle)

<div id="cArea">
  <div class="hr_10"></div>
    
    $control.setTemplate('profile/userCenterMenu.vm').addAttribute('snowUtil', $snowUtil)
    
    <div class="content">
    	<div class="content-inner">
			<div class="phead password-ico">
                	<h1>认证成功</h1>
                </div>
                <div class="pbody">
                	<div class="tip_box">恭喜你！认证成功。</div>
				</div>
    	</div>
    </div>
    
</div>
<div class="hr_6"></div>