<div id="sub-nav"><!--index-top-->
        <ul class="fl ml10">
            <li><a href="$snowModule.setTarget('/index')"  class="on">首 页</a></li>
	        <li><a href="$snowModule.setTarget('/taxi-index')" >拼的士</a></li>
	        <li><a href="$snowModule.setTarget('/inter-city-index')">顺风车</a></li>
	        <li><a href="$snowModule.setTarget('/rush-hour-index')" >上下班拼车</a></li>
        </ul>
        <div class="fr mr10">
        	 <a href="$snowModule.setTarget('together/createOrder')" class="dis fr but_cjpc-y" style="margin-top:5px">
            	创建拼车
            </a>
            <span class=" mr10 dis fr">
              $control.setTemplate('common/userInfo.vm')
        	</span>
        </div>
    </div><!--index-top end-->
    
    <center><br clear="all" />
    <div class="index-logo">
    	<a href="#">
        	<img src="$imgServer/logo_03.png" width="338" height="49" title=一辆车 border="0"/>
        </a>
    </div>
    <div class="searcharea">
    	<form action="$snowModule.setTarget('search/searchOrder')" method="get">
        	<div class="input-box">
                <div class="search_l fl"></div>
                <div class="search_bg fl">
                	<input class="input-search" value="出发地" name="fromAddr"  onclick="value='';focus()">
                </div>
                <div class="search_r fl"></div>
            
                <div class="search_l fl ml10"></div>
                <div class="search_bg fl">
                	<input class="input-search" value="目的地" name="arriveAddr"  onclick="value='';focus()">
                </div>
                <div class="fl" style="width:72px; overflow: hidden;">
                	<input type=submit value="" class="button_search">
                </div>
                <div class="fl ml10">
                	<br />
                    <a href="#">帮助</a>
                </div> 
            </div>
            
        </form>
    </div>
    </center>
    <div style="height:110px; clear:both;"></div>