首页

<div>
$control.setTemplate('common/citySelected.vm').addAttribute('selectedCity', $selectedCity)

<a href="$snowModule.setTarget('city/cityList')">切换城市</a>
</div>

<div><a href="$snowModule.setTarget('user/reg')">注册</a></div>
<div><a href="$snowModule.setTarget('login')">登陆</a></div>

<div>

<form>
搜索拼车信息
	城市<input type="text" name="fromCity" />
	出发地<input type="text" name="fromAddr" />
	目的地<input type="text" name="toAddr" />
	<input type="submit" value="搜索" />
</form>

</div>

<div><a href="$snowModule.setTarget('together/createTaxiOrder')">发布拼车</a></div>


<div>最新拼车信息</div>

<ul>
#foreach($order in $recentOrders)
	<li>
	$order.fromCity $order.fromAddr => $order.arriveAddr 
	$dateUtil.formatDate($order.fromTime, 'yyyy-MM-dd HH:mm') 
	$dateUtil.formatDate($order.arriveTime, 'yyyy-MM-dd HH:mm')
	
	<a href="$snowModule.setTarget('together/orderDetail').add('orderId', $order.id)">加入拼车</a>
	</li>
#end
</ul>

<div>已经成功完成9999次拼车</div>