<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <description>Temperature Humidity Control</description>
 <display-name>eeweb</display-name>
 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/applicationContext.xml</param-value>
	</context-param>
	<listener>
	 <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener> 
 
 <listener>
  <listener-class>com.htc.listener.SerialPortListener</listener-class>
 </listener>
 
 <filter>
 	<filter-name>ResourceJettyHackerFilter</filter-name>
 	<filter-class>com.htc.util.ResourceJettyHackerFilter</filter-class>
 </filter>
 <filter-mapping>
 	<filter-name>ResourceJettyHackerFilter</filter-name>
 	<url-pattern>*.js</url-pattern>
 </filter-mapping>
  <filter-mapping>
 	<filter-name>ResourceJettyHackerFilter</filter-name>
 	<url-pattern>*.css</url-pattern>
 </filter-mapping>
 
 <filter>
  <filter-name>struts2</filter-name>
  <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>struts2</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping> 
	 
	<!-- 配置spring的过滤器
	<filter>
		<filter-name>spring filter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>gbk</param-value>
	</init-param>
	</filter>
	<filter-mapping>
		<filter-name>spring filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>-->

 <session-config>
  <session-timeout>60</session-timeout>
 </session-config>
 
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
 
 <error-page>
  <error-code>404</error-code>
  <location>/common/errorpage.html</location>
 </error-page>
 
 <error-page>
  <error-code>500</error-code>
  <location>/common/errorpage.html</location>
 </error-page>
 
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>Restrict access to JSP pages</web-resource-name>
   <url-pattern>*.jsp</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <description>With no roles defined, no access granted</description>
  </auth-constraint>
 </security-constraint>

 <!--  
 
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
 
 -->
 
 <resource-ref>
  <description>htcweb DataSource</description>
  <res-ref-name>jdbc/htcweb</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
 </resource-ref>
 
</web-app>
